/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * memoir implementation : ©  Timothée Pecatte <tim.pecatte@gmail.com>, Vincent Toper <vincent.toper@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * memoir.scss
 *
 * memoir stylesheet
 *
 */

@font-face {
  font-family: "Army";
  src: url("img/fonts/Army.woff2") format("woff2"), url("img/fonts/Army.woff") format("woff"),
    url("img/fonts/Army.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Gunplay";
  src: url("img/fonts/Gunplay.woff2") format("woff2"), url("img/fonts/Gunplay.woff") format("woff"),
    url("img/fonts/Gunplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Oswald";
  src: url("img/fonts/Oswald-Regular.woff2") format("woff2"), url("img/fonts/Oswald-Regular.woff") format("woff"),
    url("img/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Dax";
  src: url("img/fonts/DaxLight.woff2") format("woff2"), url("img/fonts/DaxLight.woff") format("woff"),
    url("img/fonts/DaxLight.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.phantom {
  visibility: hidden;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
#logs .roundedbox {
  background-color: #eadacc;
  border-radius: 2px;
}
#logs .timestamp {
  color: black;
}

#logs .log-coordinate {
  font-family: Courier New, serif;
}

.help-marker-btn {
  display: inline-block;
  top: 2px;
  left: 2px;
  width: 20px;
  height: 20px;
  z-index: 900;
  border: 1px solid black;
  border-radius: 50%;

  svg {
    width: 20px;
    height: 20px;
  }
}

.help-marker {
  display: none;
}

@import "modules/css/layout";
@import "modules/css/board";
@import "modules/css/units";
@import "modules/css/cards";
@import "modules/css/medals";
@import "modules/css/dice";
@import "modules/css/flip";
@import "modules/css/explosion";
@import "modules/css/modals";
@import "modules/css/tokens";
@import "modules/css/nouislider";
@import "modules/css/settings";
