@charset "UTF-8";
/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * memoir implementation : ©  Timothée Pecatte <tim.pecatte@gmail.com>, Vincent Toper <vincent.toper@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * memoir.scss
 *
 * memoir stylesheet
 *
 */
@font-face {
  font-family: 'Army';
  src: url("img/fonts/Army.woff2") format("woff2"), url("img/fonts/Army.woff") format("woff"), url("img/fonts/Army.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Gunplay';
  src: url("img/fonts/Gunplay.woff2") format("woff2"), url("img/fonts/Gunplay.woff") format("woff"), url("img/fonts/Gunplay.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
@font-face {
  font-family: 'Oswald';
  src: url("img/fonts/Oswald-Regular.woff2") format("woff2"), url("img/fonts/Oswald-Regular.woff") format("woff"), url("img/fonts/Oswald-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap; }
html {
  background: url("img/background.jpg");
  background-size: 75px; }

#m44-container {
  display: flex;
  flex-flow: column; }
  #m44-container .m44-hrule {
    height: 11px;
    background: url("img/h_rule.jpg");
    background-repeat: repeat-x; }
  #m44-container #m44-top-part {
    height: 71px;
    background: url("img/game_top.png");
    background-repeat: repeat-x;
    position: relative;
    z-index: 2; }
    #m44-container #m44-top-part #top-player {
      height: 52px;
      overflow: hidden; }
  #m44-container #m44-central-part {
    height: 600px;
    display: flex;
    margin-top: -6px;
    margin-bottom: -4px; }
    #m44-container #m44-central-part #deck-holder {
      width: 122px;
      background: url("img/game_left.png");
      background-repeat: repeat-y; }
    #m44-container #m44-central-part #m44-board-wrapper {
      flex-grow: 2;
      position: relative; }
      #m44-container #m44-central-part #m44-board-wrapper #m44-board-scrollable {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        z-index: 1;
        display: flex; }
      #m44-container #m44-central-part #m44-board-wrapper #m44-board-zoom-in,
      #m44-container #m44-central-part #m44-board-wrapper #m44-board-zoom-out {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0px;
        width: 40px;
        height: 40px; }
        #m44-container #m44-central-part #m44-board-wrapper #m44-board-zoom-in svg,
        #m44-container #m44-central-part #m44-board-wrapper #m44-board-zoom-out svg {
          width: 100%;
          height: 100%;
          cursor: pointer; }
        #m44-container #m44-central-part #m44-board-wrapper #m44-board-zoom-in:hover svg,
        #m44-container #m44-central-part #m44-board-wrapper #m44-board-zoom-out:hover svg {
          color: white; }
      #m44-container #m44-central-part #m44-board-wrapper #m44-board-zoom-in {
        right: 40px; }
    #m44-container #m44-central-part #right-side {
      float: none;
      margin-left: 0px;
      margin-top: 0px;
      width: 218px;
      padding-left: 35px;
      overflow: auto;
      background: url("img/game_right.png");
      background-repeat: repeat-y; }
  #m44-container #m44-bottom-part {
    height: 220px;
    background: url("img/game_bottom.png");
    background-repeat: repeat-x;
    background-size: auto 100%;
    position: relative;
    z-index: 2;
    display: flex; }
    #m44-container #m44-bottom-part #bottom-player {
      margin-top: 25px; }
    #m44-container #m44-bottom-part #hand {
      display: flex;
      column-gap: 5px;
      --memoirCardScale: 0.4; }

#left-side {
  margin-right: 1px !important; }

:root {
  --memoirBoardScale: 1; }

#m44-board {
  padding: 0;
  margin: auto;
  position: relative; }
  #m44-board .m44-grid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    padding: 0;
    margin: 0;
    list-style-type: none; }
    #m44-board .m44-grid#m44-board-terrains {
      z-index: 1; }
    #m44-board .m44-grid#m44-board-labels {
      z-index: 2; }
    #m44-board .m44-grid#m44-board-units {
      z-index: 3; }
  #m44-board[data-type='standard'] {
    width: calc(var(--memoirBoardScale) * 900px);
    height: calc(var(--memoirBoardScale) * 539.933px); }
    #m44-board[data-type='standard'] .m44-grid {
      grid-template-columns: repeat(27, 1fr);
      grid-template-rows: repeat(28, 1fr); }
  #m44-board[data-type='overlord'] {
    width: calc(var(--memoirBoardScale) * 1500px);
    height: calc(var(--memoirBoardScale) * 539.933px); }
    #m44-board[data-type='overlord'] .m44-grid {
      grid-template-columns: repeat(53, 1fr);
      grid-template-rows: repeat(28, 1fr); }
  #m44-board[data-type='brkthru'] .m44-grid {
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(52, 1fr); }
  #m44-board .hex-grid-item {
    position: relative;
    height: 0;
    padding-bottom: 115.7%; }
    #m44-board .hex-grid-item * {
      visibility: visible; }
    #m44-board .hex-grid-item .hex-grid-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='1'] {
        transform: rotate(30deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='2'] {
        transform: rotate(60deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='3'] {
        transform: rotate(90deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='4'] {
        transform: rotate(120deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='5'] {
        transform: rotate(150deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='6'] {
        transform: rotate(180deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='7'] {
        transform: rotate(210deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='8'] {
        transform: rotate(240deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='9'] {
        transform: rotate(270deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='10'] {
        transform: rotate(300deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='11'] {
        transform: rotate(330deg); }
      #m44-board .hex-grid-item .hex-grid-content[data-rotation='12'] {
        transform: rotate(360deg); }
    #m44-board .hex-grid-item .hex-grid-background {
      z-index: 1;
      background-image: url("img/board_backgrounds.jpg");
      background-size: 600% 600%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='0'] {
        background-position-x: 0%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='1'] {
        background-position-x: 20%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='2'] {
        background-position-x: 40%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='3'] {
        background-position-x: 60%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='4'] {
        background-position-x: 80%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='5'] {
        background-position-x: 100%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='6'] {
        background-position-x: 0%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='7'] {
        background-position-x: 20%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='8'] {
        background-position-x: 40%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='9'] {
        background-position-x: 60%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='10'] {
        background-position-x: 80%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='11'] {
        background-position-x: 100%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='12'] {
        background-position-x: 0%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='13'] {
        background-position-x: 20%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='14'] {
        background-position-x: 40%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='15'] {
        background-position-x: 60%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='16'] {
        background-position-x: 80%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='17'] {
        background-position-x: 100%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='18'] {
        background-position-x: 0%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='19'] {
        background-position-x: 20%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='20'] {
        background-position-x: 40%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='21'] {
        background-position-x: 60%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='22'] {
        background-position-x: 80%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='23'] {
        background-position-x: 100%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='24'] {
        background-position-x: 0%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='25'] {
        background-position-x: 20%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='26'] {
        background-position-x: 40%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='27'] {
        background-position-x: 60%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='28'] {
        background-position-x: 80%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='29'] {
        background-position-x: 100%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='30'] {
        background-position-x: 0%;
        background-position-y: 100%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='31'] {
        background-position-x: 20%;
        background-position-y: 100%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='32'] {
        background-position-x: 40%;
        background-position-y: 100%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='33'] {
        background-position-x: 60%;
        background-position-y: 100%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='34'] {
        background-position-x: 80%;
        background-position-y: 100%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='35'] {
        background-position-x: 100%;
        background-position-y: 100%; }
      #m44-board .hex-grid-item .hex-grid-background[data-type='36'] {
        background-position-x: 0%;
        background-position-y: 120%; }
    #m44-board .hex-grid-item .hex-grid-terrain {
      z-index: 2;
      background-image: url("img/terrains.jpg");
      background-size: 1000% 1100%;
      clip-path: polygon(50% 0.6%, 99.4% 25.6%, 99.4% 74.4%, 50% 99.4%, 0.6% 74.4%, 0.6% 25.6%); }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='0'] {
        background-position-x: 0%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='1'] {
        background-position-x: 11.1111111111%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='2'] {
        background-position-x: 22.2222222222%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='3'] {
        background-position-x: 33.3333333333%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='4'] {
        background-position-x: 44.4444444444%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='5'] {
        background-position-x: 55.5555555556%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='6'] {
        background-position-x: 66.6666666667%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='7'] {
        background-position-x: 77.7777777778%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='8'] {
        background-position-x: 88.8888888889%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='9'] {
        background-position-x: 100%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='10'] {
        background-position-x: 0%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='11'] {
        background-position-x: 11.1111111111%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='12'] {
        background-position-x: 22.2222222222%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='13'] {
        background-position-x: 33.3333333333%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='14'] {
        background-position-x: 44.4444444444%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='15'] {
        background-position-x: 55.5555555556%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='16'] {
        background-position-x: 66.6666666667%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='17'] {
        background-position-x: 77.7777777778%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='18'] {
        background-position-x: 88.8888888889%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='19'] {
        background-position-x: 100%;
        background-position-y: 10%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='20'] {
        background-position-x: 0%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='21'] {
        background-position-x: 11.1111111111%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='22'] {
        background-position-x: 22.2222222222%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='23'] {
        background-position-x: 33.3333333333%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='24'] {
        background-position-x: 44.4444444444%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='25'] {
        background-position-x: 55.5555555556%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='26'] {
        background-position-x: 66.6666666667%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='27'] {
        background-position-x: 77.7777777778%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='28'] {
        background-position-x: 88.8888888889%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='29'] {
        background-position-x: 100%;
        background-position-y: 20%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='30'] {
        background-position-x: 0%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='31'] {
        background-position-x: 11.1111111111%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='32'] {
        background-position-x: 22.2222222222%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='33'] {
        background-position-x: 33.3333333333%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='34'] {
        background-position-x: 44.4444444444%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='35'] {
        background-position-x: 55.5555555556%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='36'] {
        background-position-x: 66.6666666667%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='37'] {
        background-position-x: 77.7777777778%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='38'] {
        background-position-x: 88.8888888889%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='39'] {
        background-position-x: 100%;
        background-position-y: 30%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='40'] {
        background-position-x: 0%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='41'] {
        background-position-x: 11.1111111111%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='42'] {
        background-position-x: 22.2222222222%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='43'] {
        background-position-x: 33.3333333333%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='44'] {
        background-position-x: 44.4444444444%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='45'] {
        background-position-x: 55.5555555556%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='46'] {
        background-position-x: 66.6666666667%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='47'] {
        background-position-x: 77.7777777778%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='48'] {
        background-position-x: 88.8888888889%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='49'] {
        background-position-x: 100%;
        background-position-y: 40%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='50'] {
        background-position-x: 0%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='51'] {
        background-position-x: 11.1111111111%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='52'] {
        background-position-x: 22.2222222222%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='53'] {
        background-position-x: 33.3333333333%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='54'] {
        background-position-x: 44.4444444444%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='55'] {
        background-position-x: 55.5555555556%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='56'] {
        background-position-x: 66.6666666667%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='57'] {
        background-position-x: 77.7777777778%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='58'] {
        background-position-x: 88.8888888889%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='59'] {
        background-position-x: 100%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='60'] {
        background-position-x: 0%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='61'] {
        background-position-x: 11.1111111111%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='62'] {
        background-position-x: 22.2222222222%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='63'] {
        background-position-x: 33.3333333333%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='64'] {
        background-position-x: 44.4444444444%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='65'] {
        background-position-x: 55.5555555556%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='66'] {
        background-position-x: 66.6666666667%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='67'] {
        background-position-x: 77.7777777778%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='68'] {
        background-position-x: 88.8888888889%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='69'] {
        background-position-x: 100%;
        background-position-y: 60%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='70'] {
        background-position-x: 0%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='71'] {
        background-position-x: 11.1111111111%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='72'] {
        background-position-x: 22.2222222222%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='73'] {
        background-position-x: 33.3333333333%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='74'] {
        background-position-x: 44.4444444444%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='75'] {
        background-position-x: 55.5555555556%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='76'] {
        background-position-x: 66.6666666667%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='77'] {
        background-position-x: 77.7777777778%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='78'] {
        background-position-x: 88.8888888889%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='79'] {
        background-position-x: 100%;
        background-position-y: 70%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='80'] {
        background-position-x: 0%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='81'] {
        background-position-x: 11.1111111111%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='82'] {
        background-position-x: 22.2222222222%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='83'] {
        background-position-x: 33.3333333333%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='84'] {
        background-position-x: 44.4444444444%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='85'] {
        background-position-x: 55.5555555556%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='86'] {
        background-position-x: 66.6666666667%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='87'] {
        background-position-x: 77.7777777778%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='88'] {
        background-position-x: 88.8888888889%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='89'] {
        background-position-x: 100%;
        background-position-y: 80%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='90'] {
        background-position-x: 0%;
        background-position-y: 90%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='91'] {
        background-position-x: 11.1111111111%;
        background-position-y: 90%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='92'] {
        background-position-x: 22.2222222222%;
        background-position-y: 90%; }
      #m44-board .hex-grid-item .hex-grid-terrain[data-type='93'] {
        background-position-x: 33.3333333333%;
        background-position-y: 90%; }
    #m44-board .hex-grid-item .hex-grid-obstacle {
      z-index: 3;
      background-image: url("img/obstacles.png");
      background-size: 600% 500%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='0'] {
        background-position-x: 0%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='1'] {
        background-position-x: 20%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='2'] {
        background-position-x: 40%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='3'] {
        background-position-x: 60%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='4'] {
        background-position-x: 80%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='5'] {
        background-position-x: 100%;
        background-position-y: 0%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='6'] {
        background-position-x: 0%;
        background-position-y: 25%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='7'] {
        background-position-x: 20%;
        background-position-y: 25%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='8'] {
        background-position-x: 40%;
        background-position-y: 25%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='9'] {
        background-position-x: 60%;
        background-position-y: 25%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='10'] {
        background-position-x: 80%;
        background-position-y: 25%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='11'] {
        background-position-x: 100%;
        background-position-y: 25%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='12'] {
        background-position-x: 0%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='13'] {
        background-position-x: 20%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='14'] {
        background-position-x: 40%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='15'] {
        background-position-x: 60%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='16'] {
        background-position-x: 80%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='17'] {
        background-position-x: 100%;
        background-position-y: 50%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='18'] {
        background-position-x: 0%;
        background-position-y: 75%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='19'] {
        background-position-x: 20%;
        background-position-y: 75%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='20'] {
        background-position-x: 40%;
        background-position-y: 75%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='21'] {
        background-position-x: 60%;
        background-position-y: 75%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='22'] {
        background-position-x: 80%;
        background-position-y: 75%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='23'] {
        background-position-x: 100%;
        background-position-y: 75%; }
      #m44-board .hex-grid-item .hex-grid-obstacle[data-type='24'] {
        background-position-x: 0%;
        background-position-y: 100%; }
  #m44-board .hex-label-container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0.7;
    pointer-events: none; }
    #m44-board .hex-label-container .hex-label {
      background: #ffffff;
      padding: 1px 3px;
      border-radius: 5px;
      border: 1px solid #000000;
      font-size: 12px;
      text-align: center;
      white-space: nowrap;
      transform: scale(var(--memoirBoardScale));
      transform-origin: bottom center; }
  #m44-board:hover .hex-label-container {
    opacity: 0.2; }
  #m44-board .hex-cell-container .hex-cell {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 7% 0;
    box-sizing: border-box; }

.memoir-unit {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative; }
  .memoir-unit .memoir-unit-meeple {
    position: absolute;
    overflow: hidden;
    background-image: url("img/units.png");
    background-repeat: no-repeat; }
  .memoir-unit[data-figures='1'] .memoir-unit-meeple:nth-of-type(1) ~ .memoir-unit-meeple {
    display: none; }
  .memoir-unit[data-figures='2'] .memoir-unit-meeple:nth-of-type(2) ~ .memoir-unit-meeple {
    display: none; }
  .memoir-unit[data-figures='3'] .memoir-unit-meeple:nth-of-type(3) ~ .memoir-unit-meeple {
    display: none; }
  .memoir-unit[data-figures='4'] .memoir-unit-meeple:nth-of-type(4) ~ .memoir-unit-meeple {
    display: none; }

.memoir-unit[data-orientation='0'][data-type='1'][data-nation='ger']
.memoir-unit-meeple {
  width: 50%;
  height: 66.665%;
  background-size: 1137.78%;
  background-position: 46.3597% 34.949%; }
  .memoir-unit[data-orientation='0'][data-type='1'][data-nation='ger']
  .memoir-unit-meeple:nth-of-type(1) {
    left: 23%;
    top: -2%; }
  .memoir-unit[data-orientation='0'][data-type='1'][data-nation='ger']
  .memoir-unit-meeple:nth-of-type(2) {
    left: 52%;
    top: 14%; }
  .memoir-unit[data-orientation='0'][data-type='1'][data-nation='ger']
  .memoir-unit-meeple:nth-of-type(3) {
    left: 4%;
    top: 19%; }
  .memoir-unit[data-orientation='0'][data-type='1'][data-nation='ger']
  .memoir-unit-meeple:nth-of-type(4) {
    left: 33%;
    top: 33%; }

.memoir-unit[data-orientation='0'][data-type='1'][data-nation='us']
.memoir-unit-meeple {
  width: 50%;
  height: 70.315%;
  background-size: 1066.67%;
  background-position: 0.107759% 0.265252%; }
  .memoir-unit[data-orientation='0'][data-type='1'][data-nation='us']
  .memoir-unit-meeple:nth-of-type(1) {
    left: 24%;
    top: 3%; }
  .memoir-unit[data-orientation='0'][data-type='1'][data-nation='us']
  .memoir-unit-meeple:nth-of-type(2) {
    left: 52%;
    top: 14%; }
  .memoir-unit[data-orientation='0'][data-type='1'][data-nation='us']
  .memoir-unit-meeple:nth-of-type(3) {
    left: 2%;
    top: 24%; }
  .memoir-unit[data-orientation='0'][data-type='1'][data-nation='us']
  .memoir-unit-meeple:nth-of-type(4) {
    left: 33%;
    top: 35%; }

.memoir-unit[data-orientation='1'][data-type='1'][data-nation='ger']
.memoir-unit-meeple {
  width: 43%;
  height: 63.5239%;
  background-size: 1163.64%;
  background-position: 10.4701% 0.26178%; }
  .memoir-unit[data-orientation='1'][data-type='1'][data-nation='ger']
  .memoir-unit-meeple:nth-of-type(1) {
    left: 22%;
    top: -2%; }
  .memoir-unit[data-orientation='1'][data-type='1'][data-nation='ger']
  .memoir-unit-meeple:nth-of-type(2) {
    left: 50%;
    top: 11%; }
  .memoir-unit[data-orientation='1'][data-type='1'][data-nation='ger']
  .memoir-unit-meeple:nth-of-type(3) {
    left: 3%;
    top: 18%; }
  .memoir-unit[data-orientation='1'][data-type='1'][data-nation='ger']
  .memoir-unit-meeple:nth-of-type(4) {
    left: 32%;
    top: 28%; }

.memoir-unit[data-orientation='1'][data-type='1'][data-nation='us']
.memoir-unit-meeple {
  width: 50%;
  height: 62.5%;
  background-size: 1066.67%;
  background-position: 69.5043% 34.949%; }
  .memoir-unit[data-orientation='1'][data-type='1'][data-nation='us']
  .memoir-unit-meeple:nth-of-type(1) {
    left: 22%;
    top: 2%; }
  .memoir-unit[data-orientation='1'][data-type='1'][data-nation='us']
  .memoir-unit-meeple:nth-of-type(2) {
    left: 49%;
    top: 17%; }
  .memoir-unit[data-orientation='1'][data-type='1'][data-nation='us']
  .memoir-unit-meeple:nth-of-type(3) {
    left: 7%;
    top: 23%; }
  .memoir-unit[data-orientation='1'][data-type='1'][data-nation='us']
  .memoir-unit-meeple:nth-of-type(4) {
    left: 32%;
    top: 34%; }

.gbgun_bottom {
  width: 126px;
  height: 126px;
  background-position: 45.5457% 0.259067%;
  background-size: 812.698%; }

.gbgun_top {
  width: 120px;
  height: 120px;
  background-position: 23.7832% 34.949%;
  background-size: 853.333%; }

.gbinf_bottom {
  width: 96px;
  height: 125px;
  background-position: 82.6509% 0.258398%;
  background-size: 1066.67%; }

.gbinf_top {
  width: 96px;
  height: 120px;
  background-position: 36.2069% 34.949%;
  background-size: 1066.67%; }

.gbtank_bottom {
  width: 88px;
  height: 97px;
  background-position: 35.7906% 63.1325%;
  background-size: 1163.64%; }

.gbtank_top {
  width: 95px;
  height: 90px;
  background-position: 85.1453% 62.0853%;
  background-size: 1077.89%; }

.gergun_bottom {
  width: 110px;
  height: 128px;
  background-position: 20.4595% 0.260417%;
  background-size: 930.909%; }

.gergun_top {
  width: 116px;
  height: 90px;
  background-position: 97.6872% 62.0853%;
  background-size: 882.759%; }

.gertank_bottom {
  width: 102px;
  height: 101px;
  background-position: 92.5163% 33.3333%;
  background-size: 1003.92%; }

.gertank_top {
  width: 90px;
  height: 96px;
  background-position: 54.9251% 62.9808%;
  background-size: 1137.78%; }

.jpgun_bottom {
  width: 110px;
  height: 128px;
  background-position: 32.6039% 0.260417%;
  background-size: 930.909%; }

.jpgun_top {
  width: 116px;
  height: 100px;
  background-position: 24.0088% 63.5922%;
  background-size: 882.759%; }

.jpinf_bottom {
  width: 106px;
  height: 124px;
  background-position: 94.1176% 0.257732%;
  background-size: 966.038%; }

.jpinf_top {
  width: 110px;
  height: 110px;
  background-position: 81.1816% 34.0796%;
  background-size: 930.909%; }

.jptank_bottom {
  width: 102px;
  height: 101px;
  background-position: 0.10846% 63.747%;
  background-size: 1003.92%; }

.jptank_top {
  width: 90px;
  height: 96px;
  background-position: 64.6681% 62.9808%;
  background-size: 1137.78%; }

.rugun_bottom {
  width: 126px;
  height: 126px;
  background-position: 59.6882% 0.259067%;
  background-size: 812.698%; }

.rugun_top {
  width: 120px;
  height: 120px;
  background-position: 57.9646% 34.949%;
  background-size: 853.333%; }

.ruinf_bottom {
  width: 106px;
  height: 124px;
  background-position: 0.108932% 35.3093%;
  background-size: 966.038%; }

.ruinf_top {
  width: 106px;
  height: 124px;
  background-position: 11.7647% 35.3093%;
  background-size: 966.038%; }

.rutank_bottom {
  width: 113px;
  height: 101px;
  background-position: 11.416% 63.747%;
  background-size: 906.195%; }

.rutank_top {
  width: 95px;
  height: 95px;
  background-position: 74.8116% 62.8297%;
  background-size: 1077.89%; }

.usgun_bottom {
  width: 103px;
  height: 126px;
  background-position: 71.987% 0.259067%;
  background-size: 994.175%; }

.usgun_top {
  width: 120px;
  height: 86px;
  background-position: 0.110619% 85.446%;
  background-size: 853.333%; }

.ustank_bottom {
  width: 88px;
  height: 97px;
  background-position: 45.2991% 63.1325%;
  background-size: 1163.64%; }

.ustank_top {
  width: 87px;
  height: 84px;
  background-position: 13.0203% 85.0467%;
  background-size: 1177.01%; }

:root {
  --memoirCardScale: 0.9; }

.section-card,
.tactic-card {
  width: calc(var(--memoirCardScale) * 314px);
  height: calc(var(--memoirCardScale) * 503px);
  overflow: hidden; }
  .section-card .card-resizable,
  .tactic-card .card-resizable {
    width: 314px;
    height: 503px;
    transform: scale(var(--memoirCardScale));
    transform-origin: top left;
    border-radius: 25px;
    position: relative;
    font-family: 'Gunplay'; }
    .section-card .card-resizable .card-title,
    .section-card .card-resizable .card-text-container,
    .tactic-card .card-resizable .card-title,
    .tactic-card .card-resizable .card-text-container {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center; }
    .section-card .card-resizable .card-title,
    .tactic-card .card-resizable .card-title {
      top: 21px;
      left: 20px;
      right: 20px;
      bottom: 427px;
      font-size: 32px;
      color: #5c1b0f;
      text-transform: uppercase;
      color: #5c1b0f; }
    .section-card .card-resizable .card-subtitle,
    .tactic-card .card-resizable .card-subtitle {
      position: absolute;
      top: 64px;
      left: 35px;
      right: 35px;
      bottom: 398px;
      font-size: 19px;
      line-height: 20px;
      text-align: center; }
    .section-card .card-resizable .card-text-container,
    .tactic-card .card-resizable .card-text-container {
      top: 420px;
      left: 20px;
      right: 20px;
      bottom: 20px;
      padding: 0px 3px;
      display: flex; }
      .section-card .card-resizable .card-text-container .card-text,
      .tactic-card .card-resizable .card-text-container .card-text {
        text-align: center;
        font-size: 24px; }

.tactic-card .card-resizable .card-title {
  top: 21px;
  left: 20px;
  right: 20px;
  bottom: 427px;
  font-size: 29px;
  color: #5c1b0f; }
.tactic-card .card-resizable .card-text-container {
  top: 280px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  padding: 0px 12px; }
  .tactic-card .card-resizable .card-text-container .card-text {
    text-align: center;
    font-size: 15px; }
    .tactic-card .card-resizable .card-text-container .card-text span.desc-unit {
      color: #23698e; }

.section-card .card-resizable {
  background-size: 500% 300%; }
.section-card[data-type='0'] .card-resizable {
  background-position-x: 0%;
  background-position-y: 0%; }
.section-card[data-type='1'] .card-resizable {
  background-position-x: 25%;
  background-position-y: 0%; }
.section-card[data-type='2'] .card-resizable {
  background-position-x: 50%;
  background-position-y: 0%; }
.section-card[data-type='3'] .card-resizable {
  background-position-x: 75%;
  background-position-y: 0%; }
.section-card[data-type='4'] .card-resizable {
  background-position-x: 100%;
  background-position-y: 0%; }
.section-card[data-type='5'] .card-resizable {
  background-position-x: 0%;
  background-position-y: 50%; }
.section-card[data-type='6'] .card-resizable {
  background-position-x: 25%;
  background-position-y: 50%; }
.section-card[data-type='7'] .card-resizable {
  background-position-x: 50%;
  background-position-y: 50%; }
.section-card[data-type='8'] .card-resizable {
  background-position-x: 75%;
  background-position-y: 50%; }
.section-card[data-type='9'] .card-resizable {
  background-position-x: 100%;
  background-position-y: 50%; }
.section-card[data-type='10'] .card-resizable {
  background-position-x: 0%;
  background-position-y: 100%; }
.section-card[data-type='11'] .card-resizable {
  background-position-x: 25%;
  background-position-y: 100%; }
.section-card[data-type='12'] .card-resizable {
  background-position-x: 50%;
  background-position-y: 100%; }
.section-card[data-type='13'] .card-resizable {
  background-position-x: 75%;
  background-position-y: 100%; }
.section-card[data-type='14'] .card-resizable {
  background-position-x: 100%;
  background-position-y: 100%; }
.section-card[data-type='15'] .card-resizable {
  background-position-x: 0%;
  background-position-y: 150%; }
.section-card[data-type='16'] .card-resizable {
  background-position-x: 25%;
  background-position-y: 150%; }

.tactic-card .card-resizable {
  background-size: 500% 400%; }
.tactic-card[data-type='20'] .card-resizable {
  background-position-x: 0%;
  background-position-y: 0%; }
.tactic-card[data-type='21'] .card-resizable {
  background-position-x: 25%;
  background-position-y: 0%; }
.tactic-card[data-type='22'] .card-resizable {
  background-position-x: 50%;
  background-position-y: 0%; }
.tactic-card[data-type='23'] .card-resizable {
  background-position-x: 75%;
  background-position-y: 0%; }
.tactic-card[data-type='24'] .card-resizable {
  background-position-x: 100%;
  background-position-y: 0%; }
.tactic-card[data-type='25'] .card-resizable {
  background-position-x: 0%;
  background-position-y: 33.3333333333%; }
.tactic-card[data-type='26'] .card-resizable {
  background-position-x: 25%;
  background-position-y: 33.3333333333%; }
.tactic-card[data-type='27'] .card-resizable {
  background-position-x: 50%;
  background-position-y: 33.3333333333%; }
.tactic-card[data-type='28'] .card-resizable {
  background-position-x: 75%;
  background-position-y: 33.3333333333%; }
.tactic-card[data-type='29'] .card-resizable {
  background-position-x: 100%;
  background-position-y: 33.3333333333%; }
.tactic-card[data-type='30'] .card-resizable {
  background-position-x: 0%;
  background-position-y: 66.6666666667%; }
.tactic-card[data-type='31'] .card-resizable {
  background-position-x: 25%;
  background-position-y: 66.6666666667%; }
.tactic-card[data-type='32'] .card-resizable {
  background-position-x: 50%;
  background-position-y: 66.6666666667%; }
.tactic-card[data-type='33'] .card-resizable {
  background-position-x: 75%;
  background-position-y: 66.6666666667%; }
.tactic-card[data-type='34'] .card-resizable {
  background-position-x: 100%;
  background-position-y: 66.6666666667%; }
.tactic-card[data-type='35'] .card-resizable {
  background-position-x: 0%;
  background-position-y: 100%; }
.tactic-card[data-type='36'] .card-resizable {
  background-position-x: 25%;
  background-position-y: 100%; }
.tactic-card[data-type='37'] .card-resizable {
  background-position-x: 50%;
  background-position-y: 100%; }
.tactic-card[data-type='38'] .card-resizable {
  background-position-x: 75%;
  background-position-y: 100%; }
.tactic-card[data-type='39'] .card-resizable {
  background-position-x: 100%;
  background-position-y: 100%; }
.tactic-card[data-type='40'] .card-resizable {
  background-position-x: 0%;
  background-position-y: 133.3333333333%; }

/*#######################
##### STANDARD DECK #####
#######################*/
[data-deck-mode='standard'] .section-card .card-resizable {
  background-image: url("img/card_sections.jpg"); }
[data-deck-mode='standard'] .section-card[data-type='0'] .card-resizable .card-text-container .card-text, [data-deck-mode='standard'] .section-card[data-type='1'] .card-resizable .card-text-container .card-text, [data-deck-mode='standard'] .section-card[data-type='2'] .card-resizable .card-text-container .card-text {
  font-size: 17px;
  line-height: 19px;
  letter-spacing: -1px; }

[data-deck-mode='standard'] .tactic-card .card-resizable {
  background-image: url("img/card_tactics.jpg"); }

/*#######################
##### OVERLORD DECK #####
#######################*/
[data-deck-mode='overlord'] .section-card .card-resizable {
  background-image: url("img/overlord/card_sections.jpg"); }
  [data-deck-mode='overlord'] .section-card .card-resizable .card-title {
    bottom: 435px;
    font-size: 32px;
    color: #fed166; }
  [data-deck-mode='overlord'] .section-card .card-resizable .card-subtitle {
    top: 60px;
    color: white; }
  [data-deck-mode='overlord'] .section-card .card-resizable .card-text-container {
    top: 375px;
    bottom: 25px; }
    [data-deck-mode='overlord'] .section-card .card-resizable .card-text-container .card-text {
      font-size: 23px;
      color: white; }
[data-deck-mode='overlord'] .section-card[data-type='0'] .card-resizable .card-text-container .card-text > div:nth-of-type(2), [data-deck-mode='overlord'] .section-card[data-type='1'] .card-resizable .card-text-container .card-text > div:nth-of-type(2), [data-deck-mode='overlord'] .section-card[data-type='2'] .card-resizable .card-text-container .card-text > div:nth-of-type(2) {
  font-size: 15px;
  line-height: 19px;
  letter-spacing: -1px; }

[data-deck-mode='overlord'] .tactic-card .card-resizable {
  background-image: url("img/overlord/card_tactics.jpg"); }
  [data-deck-mode='overlord'] .tactic-card .card-resizable .card-title {
    top: 15px;
    color: #fed166;
    font-size: 28px; }
  [data-deck-mode='overlord'] .tactic-card .card-resizable .card-text-container {
    top: 280px;
    bottom: 20px;
    padding: 0px 12px; }
    [data-deck-mode='overlord'] .tactic-card .card-resizable .card-text-container .card-text {
      font-size: 12px;
      color: white;
      font-family: 'Oswald';
      line-height: 18px; }
      [data-deck-mode='overlord'] .tactic-card .card-resizable .card-text-container .card-text span.desc-unit {
        color: white;
        font-family: 'Gunplay';
        font-size: 15px; }

/*###########################
##### BREAKTHROUGH DECK #####
###########################*/
[data-deck-mode='brkthru'] .section-card .card-resizable {
  background-image: url("img/breakthrough/card_sections.jpg"); }
  [data-deck-mode='brkthru'] .section-card .card-resizable .card-title {
    top: 10px;
    bottom: 440px;
    font-size: 30px;
    color: #ffe2a5; }
  [data-deck-mode='brkthru'] .section-card .card-resizable .card-subtitle {
    top: 59px;
    color: white;
    bottom: 420px; }
  [data-deck-mode='brkthru'] .section-card .card-resizable .card-text-container {
    top: 375px;
    bottom: 40px; }
    [data-deck-mode='brkthru'] .section-card .card-resizable .card-text-container .card-text {
      font-size: 20px; }
[data-deck-mode='brkthru'] .section-card[data-type='0'] .card-resizable .card-text-container .card-text > div:nth-of-type(2), [data-deck-mode='brkthru'] .section-card[data-type='1'] .card-resizable .card-text-container .card-text > div:nth-of-type(2), [data-deck-mode='brkthru'] .section-card[data-type='2'] .card-resizable .card-text-container .card-text > div:nth-of-type(2) {
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -1px; }

[data-deck-mode='brkthru'] .tactic-card .card-resizable {
  background-image: url("img/breakthrough/card_tactics.jpg"); }
  [data-deck-mode='brkthru'] .tactic-card .card-resizable .card-title {
    top: 15px;
    color: #fed166;
    font-size: 28px; }
  [data-deck-mode='brkthru'] .tactic-card .card-resizable .card-text-container {
    top: 275px;
    bottom: 45px;
    padding: 0px 20px; }
    [data-deck-mode='brkthru'] .tactic-card .card-resizable .card-text-container .card-text {
      font-size: 13px;
      color: white;
      font-family: 'Oswald';
      line-height: 23px; }
      [data-deck-mode='brkthru'] .tactic-card .card-resizable .card-text-container .card-text span.desc-unit {
        color: white;
        font-family: 'Gunplay';
        font-size: 15px; }

/*# sourceMappingURL=memoir.css.map */
