:root {
  --memoirBoardScale: 1;
}
#m44-board {
  padding: 0;
  margin: auto;
  position: relative;

  .m44-grid {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    padding: 0;
    margin: 0;
    list-style-type: none;

    &#m44-board-terrains {
      z-index: 1;
    }
    &#m44-board-labels {
      z-index: 2;

      [data-labels='0'] & {
        display: none;
      }
    }
    &#m44-board-units {
      z-index: 3;
    }
  }

  &[data-type='standard'] {
    width: calc(var(--memoirBoardScale) * 900px);
    height: calc(var(--memoirBoardScale) * 595.2px);

    .m44-grid {
      grid-template-columns: repeat(28, 1fr);
      grid-template-rows: repeat(32, 1fr);
    }
  }
  &[data-type='overlord'] {
    width: calc(var(--memoirBoardScale) * 1500px);
    height: calc(var(--memoirBoardScale) * 519.6152px);

    .m44-grid {
      grid-template-columns: repeat(54, 1fr);
      grid-template-rows: repeat(32, 1fr);
    }
  }
  &[data-type='brkthru'] {
    width: calc(var(--memoirBoardScale) * 800px);
    height: calc(var(--memoirBoardScale) * 924.9px);

    .m44-grid {
      grid-template-columns: repeat(28, 1fr);
      grid-template-rows: repeat(56, 1fr);
    }
  }

  .hex-grid-item {
    position: relative;
    height: 0;
    padding-bottom: 115.7%;
    //* {
    //  visibility: visible;
    //}

    &.coordinate-marker {
      padding-bottom: 0;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Oswald';
      color: #ffffff;
      font-size: calc(var(--memoirBoardScale) * 21px);
      text-shadow: -1px -1px 0 #00000090, 1px -1px 0 #00000090, -1px 1px 0 #00000090, 1px 1px 0 #00000090;
      opacity: 0.3;
    }

    .hex-grid-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
      -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);

      @for $i from 1 through 12 {
        &[data-rotation='#{$i}'] {
          transform: rotate(30deg * $i);
        }
      }
    }
  }

  .hex-label-container {
    margin: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    opacity: 0.7;
    pointer-events: none;

    .hex-label {
      background: #ffffff;
      padding: 1px 3px;
      border-radius: 5px;
      border: 1px solid #000000;
      font-size: 12px;
      text-align: center;
      white-space: nowrap;
      transform: scale(var(--memoirBoardScale));
      transform-origin: bottom center;
    }
  }

  &:hover .hex-label-container {
    opacity: 0.2;
  }

  .hex-cell-container {
    clip-path: polygon(49% 0%, 51% 0%, 100% 24%, 100% 75%, 51% 100%, 49% 100%, 0% 76%, 0% 24%);

    .hex-cell {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &.selectable {
        cursor: pointer;

        &.forMove,
        &.forMoveAndAttack,
        &.forAttack,
        &.forRetreat {
          background-image: url('img/hex_background_highlights.png');
          background-size: 500% 100%;
          background-position: 0% 0%;
        }
        &.forMove {
          background-position-x: 25%;
        }
        &.forAttack {
          background-position-x: 75%;
        }
        &.forRetreat {
          background-position-x: 50%;
        }
      }

      &.attacked,
      &.forAirDrop:hover {
        background-image: url('img/hex_background_highlights.png');
        background-size: 500% 100%;
        background-position: 75% 0%;
      }

      .dice-mini {
        position: absolute;
        display: block;
        width: 30%;
        height: 30%;
        background-image: url('img/dice_others.png');
        background-size: 100% 700%;
        background-position: 0% 100%;
        bottom: 19%;
        right: 0%;

        &:nth-of-type(2) {
          bottom: 12%;
          right: 12%;
        }
        &:nth-of-type(3) {
          bottom: 5%;
          right: 24%;
        }
      }
    }
  }

  .board-divider {
    margin-left: -1px;
    z-index: 2;
    width: 2px;
    background-image: linear-gradient(to bottom, #ac0202 75%, transparent 25%);
    background-size: 2px 16px;
  }
  &[data-type='overlord'] .board-divider {
    &:nth-of-type(2n + 1) {
      background-image: linear-gradient(to bottom, #c62525a3 60%, transparent 40%);
    }
  }

  #lineOfSight {
    display: none;
    position: relative;
    pointer-events: none;
    z-index: 4;
    background: linear-gradient(
      to top left,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) calc(50% - 1px),
      rgb(0, 0, 0) 50%,
      rgba(0, 0, 0, 0) calc(50% + 2px),
      rgba(0, 0, 0, 0) 100%
    );
    &.antidiagonal {
      background: linear-gradient(
        to top right,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 0) calc(50% - 1px),
        rgb(0, 0, 0) 50%,
        rgba(0, 0, 0, 0) calc(50% + 2px),
        rgba(0, 0, 0, 0) 100%
      );
    }
    &.horizontal {
      background: none;
      border-top: 2px solid black;
    }
    &.vertical {
      background: none;
      border-left: 2px solid black;
    }
    &.vertical.horizontal {
      border: none;
    }
  }
  &.displayLineOfSight:hover #lineOfSight {
    display: block;
  }
}

// TILE ASSETS
.hex-grid-background,
.hex-grid-terrain.background-terrain {
  z-index: 1;
  background-image: url('img/board_backgrounds.jpg');
  background-size: 600% 600%;

  @for $i from 0 through 36 {
    &[data-tile='#{$i}'] {
      background-position-x: ($i % 6) * 100% / 5;
      background-position-y: (($i - ($i % 6)) / 6) * 100% / 5;
    }
  }
}

.hex-grid-terrain {
  z-index: 2;
  background-image: url('img/board_terrains.jpg');
  background-size: 1000% 1100%;
  clip-path: polygon(50% 0.6%, 99.4% 25.6%, 99.4% 74.4%, 50% 99.4%, 0.6% 74.4%, 0.6% 25.6%);

  @for $i from 0 through 93 {
    &[data-tile='#{$i}'] {
      background-position-x: ($i % 10) * 100% / 9;
      background-position-y: (($i - ($i % 10)) / 10) * 100% / 10;
    }
  }
}

.hex-grid-obstacle {
  z-index: 3;
  background-image: url('img/board_obstacles.png');
  background-size: 600% 500%;

  @for $i from 0 through 24 {
    &[data-tile='#{$i}'] {
      background-position-x: ($i % 6) * 100% / 5;
      background-position-y: (($i - ($i % 6)) / 6) * 100% / 4;
    }
  }
}

////////////////////////////////////////
//  _____           _ _   _
// |_   _|__   ___ | | |_(_)_ __
//   | |/ _ \ / _ \| | __| | '_ \
//   | | (_) | (_) | | |_| | |_) |
//   |_|\___/ \___/|_|\__|_| .__/
//                         |_|
////////////////////////////////////////
.board-tooltip {
  position: absolute;
  top: 0;
  left: 0px;
  width: 310px;
  height: 100%;
  background-color: #000;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;

  .summary-card {
    width: 303px;
    height: 190px;
    background: url('img/summary_cards.jpg');
    background-size: 100% 300%;
    border-radius: 14px;
    position: relative;

    .summary-number {
      position: absolute;
      top: 14px;
      left: 26px;
      color: white;
      font-family: 'Gunplay';
      font-size: 20px;
      width: 25px;
      text-align: center;
    }
    .summary-name {
      position: absolute;
      top: 14px;
      left: 52px;
      font-family: 'Gunplay';
      text-transform: uppercase;
      width: 188px;
      text-align: center;
      font-size: 20px;
      color: #882f14;
    }

    .summary-tile {
      position: absolute;
      top: 40px;
      left: 15px;
      width: 100px;
      bottom: 16px;
      display: flex;
      justify-content: center;
      align-items: center;

      .hex-grid-content {
        width: 90px;
        height: 104px;
      }
    }

    .summary-desc {
      position: absolute;
      left: 114px;
      top: 42px;
      width: 174px;
      bottom: 16px;
      list-style-position: initial;
      padding-left: 20px;
      font-size: 13px;

      li {
        list-style-type: disc;
      }
    }
  }
}
