html {
  background: url('img/ui/background.jpg');
  background-size: 75px;
}

#m44-container {
  display: flex;
  flex-flow: column;

  .m44-hrule {
    height: 11px;
    background: url('img/ui/h_rule.jpg');
    background-repeat: repeat-x;
  }

  #m44-top-part {
    height: 71px;
    background: url('img/ui/game_top.png');
    background-repeat: repeat-x;
    position: relative;
    z-index: 2;
    display: flex;

    --memoirCardScale: 0.2;

    #top-player {
      position: relative;

      .player-board {
        height: 42px !important;
        width: 244px !important;
        border-radius: 0px;
        overflow: hidden;
      }

      #top-medals {
        position: absolute;
        bottom: -10px;
      }
    }

    #top-player-hand {
      display: flex;
      column-gap: 5px;

      .section-card,
      .tactic-card {
        max-height: 52px;

        &.inplay {
          max-height: none;
          --memoirCardScale: 0.3;
        }
      }
    }
  }

  #m44-central-part {
    max-height: 600px; // TODO
    display: flex;
    margin-top: -6px;
    margin-bottom: -4px;
    //background: url('img/background.jpg');

    #deck-holder {
      width: 122px;
      flex-shrink: 0;
      background: url('img/ui/game_left.png');
      background-repeat: repeat-y;
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-left: 4px;
      box-sizing: border-box;
      row-gap: 10px;

      #deck,
      #discard {
        width: 80px;
        height: 128px;
        --memoirCardScale: 0.2548;
        position: relative;
        .section-card,
        .tactic-card {
          position: absolute;
          top: 0;
        }
      }

      #deck {
        background-image: url('img/card_back.jpg');
        background-size: 100% 100%;
        border-radius: 7px;
        position: relative;

        #deck-count {
          width: 30px;
          height: 30px;
          position: absolute;
          left: 25px;
          top: 49px;
          background: #ffffffed;
          border-radius: 50%;
          border: 1px solid black;
          text-align: center;
          line-height: 30px;
        }
      }
    }

    #m44-board-wrapper {
      flex-grow: 2;
      position: relative;
      overflow: hidden;

      #m44-board-scrollable {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        z-index: 1;
        //        padding: 20px;
        box-sizing: border-box;
      }

      #m44-board-zoom-in,
      #m44-board-zoom-out,
      #m44-labels-settings {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0px;
        width: 40px;
        height: 40px;

        svg {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
        &:hover svg {
          color: white;
        }
      }

      #m44-board-zoom-in {
        right: 40px;
      }

      #m44-labels-settings {
        right: 80px;
      }

      &[data-labels='0'] #m44-labels-settings svg:first-of-type {
        display: none;
      }
      &[data-labels='1'] #m44-labels-settings svg:last-of-type {
        display: none;
      }
    }

    #right-side {
      float: none;
      margin-left: 0px;
      margin-top: 0px;
      width: 218px;
      flex-shrink: 0;
      padding-left: 35px;
      overflow: auto;
      background: url('img/ui/game_right.png');
      background-repeat: repeat-y;
    }
  }

  #m44-bottom-part {
    height: 220px;
    background: url('img/ui/game_bottom.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    position: relative;
    z-index: 2;
    display: flex;

    --memoirCardScale: 0.4;

    #bottom-player {
      margin-top: 25px;
      position: relative;

      .player-board {
        border-radius: 0px;
      }

      #bottom-medals {
        position: absolute;
        top: -33px;
      }
    }

    #bottom-player-hand {
      display: flex;
      column-gap: 5px;

      .tactic-card.inplay,
      .section-card.inplay {
        margin-top: -20px;
      }
    }
  }

  #top-medals,
  #bottom-medals {
    z-index: 2;
    display: flex;
    column-gap: 3px;
    padding-left: 3px;

    .m44-medal-slot {
      width: 35px;
      height: 35px;
      background-image: url('img/ui/medalspot.png');
      background-size: 100% 100%;
    }
  }
}

#left-side {
  margin-right: 1px !important;
}
