html {
  background: url('img/ui/background.jpg');
  background-size: 75px;
}

#topbar {
  margin-bottom: 0px;
}

#right-side {
  //  background: url('img/ui/game_right.jpg');
  margin-left: -250px;
  margin-top: 0px;
  padding-top: 10px;
  padding-left: 10px;
}

.mobile_version #right-side {
  padding-left: 0px;
  background: url('img/ui/game_top.jpg');
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: bottom center;
}

#left-side-wrapper {
  margin-top: 0px;

  #left-side {
    margin-right: 270px;
    top: -4px;
    margin-left: 0px;
  }
}
.mobile_version #left-side-wrapper #left-side {
  margin-right: 0;
}

#page-title {
  position: absolute;
  left: 2px;
  right: 2px;
  top: 8px;
  z-index: 1000;

  &.fixed-page-title {
    right: auto;
  }
}

#page-content::before {
  content: '';
  display: block;
  position: absolute;
  right: -18px;
  width: 18px;
  top: 0;
  bottom: 0;
  z-index: 10;
  background-image: url('img/ui/game_right.jpg');
  background-size: 100% auto;
  background-repeat: repeat-y;
  box-shadow: -1px -1px 3px black;
}

#m44-container {
  display: flex;
  flex-flow: column;

  .m44-hrule {
    height: 11px;
    background: url('img/ui/h_rule.jpg');
    background-repeat: repeat-x;
  }

  #m44-top-container {
    height: 120px;
    background: url('img/ui/game_top.jpg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: bottom center;
    position: relative;
    z-index: 5;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    box-shadow: 0px 2px 3px black;
  }

  #m44-top-part {
    height: 52px;
    display: flex;

    #top-team {
      height: 52px;

      #top-medals {
        position: absolute;
        bottom: -29px;
      }
    }

    #scenario-informations {
      margin-left: auto;

      #clipboard-button {
        width: 40px;
        background: #ebd5bd;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 80%;
          cursor: pointer;
          &:hover {
            fill: gray;
          }
        }
      }
    }
  }

  #m44-central-part {
    max-height: 600px; // TODO
    display: flex;
    margin-top: 0px;
    margin-bottom: -4px;
    //background: url('img/background.jpg');

    #left-holder {
      width: 122px;
      flex-shrink: 0;
      background: url('img/ui/game_left.png');
      background-repeat: repeat-y;
      display: flex;
      flex-flow: column;
      justify-content: center;
      padding-left: 4px;
      box-sizing: border-box;
      row-gap: 10px;
      position: relative;
      z-index: 4;
      margin-right: -8px;

      #deck,
      #discard {
        width: 80px;
        height: 128px;
        --memoirCardScale: 0.2548;
        position: relative;
        .section-card,
        .tactic-card {
          position: absolute;
          top: 0;
        }
      }

      #deck {
        background-image: url('img/card_back.jpg');
        background-size: 100% 100%;
        border-radius: 7px;
        position: relative;

        #deck-count {
          width: 30px;
          height: 30px;
          position: absolute;
          left: 25px;
          top: 49px;
          background: #ffffffed;
          border-radius: 50%;
          border: 1px solid black;
          text-align: center;
          line-height: 30px;
        }
      }
    }

    #m44-board-wrapper {
      flex-grow: 2;
      position: relative;
      overflow: hidden;
      min-height: 420px;
      background-image: url('img/ui/background_center.jpg');
      background-size: cover;
      background-position: center center;

      #m44-board-scrollable {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        z-index: 1;
        //        padding: 20px;
        box-sizing: border-box;
      }

      #m44-board-zoom-in,
      #m44-board-zoom-out,
      #m44-labels-settings {
        position: absolute;
        z-index: 2;
        top: 0;
        right: 0px;
        width: 40px;
        height: 40px;

        svg {
          width: 100%;
          height: 100%;
          cursor: pointer;
        }
        &:hover svg {
          color: white;
        }
      }

      #m44-board-zoom-in {
        right: 40px;
      }

      #m44-labels-settings {
        right: 80px;
      }

      &[data-labels='0'] #m44-labels-settings svg:first-of-type {
        display: none;
      }
      &[data-labels='1'] #m44-labels-settings svg:last-of-type {
        display: none;
      }

      #scenario-dropzone-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ddd;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active #scenario-dropzone {
          border: dashed 3px dodgerblue;
        }

        #scenario-dropzone {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column;
          border: dashed 3px black;
          border-radius: 1rem;
          padding: 2rem;

          svg {
            width: 100px;
          }

          [type='file'] {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            overflow: hidden;
            padding: 0;
            position: absolute !important;
            white-space: nowrap;
            width: 1px;
          }

          [type='file'] + label {
            margin-top: 1rem;
            background-color: #0d6efd;
            border-radius: 4rem;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            padding: 0.7rem 1rem;
            text-align: center;
            user-select: none;
            font-family: 'Gunplay';
            font-size: 25px;
          }

          [type='file']:focus + label,
          [type='file'] + label:hover {
            background-color: #0a58ca;
            color: #fff;
          }

          [type='file']:focus + label {
            outline: 1px dotted #fff;
          }

          h5 {
            font-family: 'Gunplay';
            font-size: 25px;
            margin-top: 30px;
          }
        }
      }
    }
  }

  #m44-bottom-part {
    height: 71px;
    background: url('img/ui/game_bottom.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    position: relative;
    z-index: 5;
    display: flex;

    #bottom-team {
      height: 59px;
      margin-top: 12px;
      #bottom-medals {
        position: absolute;
        top: -29px;
      }
    }
  }

  .m44-team {
    display: flex;
    position: relative;

    .m44-team-medals {
      position: absolute;
      z-index: 2;

      .medals-slots-container,
      .medals-container {
        height: 35px;
        display: flex;
        column-gap: 3px;
        padding-left: 3px;
      }

      .medals-slots-container {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;

        .m44-medal-slot {
          width: 35px;
          height: 35px;
          background-image: url('img/ui/medalspot.png');
          background-size: 100% 100%;
        }
      }
    }

    .m44-team-name {
      width: 90px;
      color: white;
      font-weight: bold;
      font-family: Gunplay;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;

      &[data-team='AXIS'] {
        background: radial-gradient(farthest-corner at 10% 95%, #b6291b, #dc672e);
        border: 2px solid #b72c14;
      }
      &[data-team='ALLIES'] {
        background: radial-gradient(farthest-corner at 10% 95%, #77b3d2, #348eb1);
        border: 2px solid #1d6f98;
      }
    }

    .m44-player-panel {
      position: relative;
      display: flex;
      background: #ebd5bd;
      min-width: 240px;
      padding: 5px 10px;
      --memoirCardScale: 0.2;

      .player-name {
        flex-grow: 1;
      }

      .commissar-slot {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 40px;
        height: 40px;

        .m44-card {
          position: absolute;
          left: 30px;
          top: 10px;
        }

        &::after {
          content: '';
          width: 40px;
          height: 40px;
          background-image: url('img/ui/commissar.png');
          background-size: 100% 100%;
          z-index: 4;
          display: block;
          position: absolute;
        }
      }

      .card-in-play {
        width: 65px;
      }

      .hand-count-holder {
        display: flex;
        justify-content: center;
        align-items: center;

        .hand-count-back {
          width: 35px;
          height: 49px;
          background-image: url('img/card_back.jpg');
          background-size: auto 100%;
          background-repeat: no-repeat;
          background-position: center center;
        }

        .hand-count::before {
          content: 'x';
          margin: 0px 3px;
        }

        .m44-card {
          position: absolute;
        }
      }
    }
  }

  #m44-player-hand {
    width: 100%;
    background: #ffffff8c;
    height: 200px;
    --memoirCardScale: 0.38;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    z-index: 5;

    .m44-card.choice {
      margin-top: -40px;
    }
  }
}

/*


--memoirCardScale: 0.2;

#top-player {
  position: relative;

  .player-board {
    height: 42px !important;
    width: 244px !important;
    border-radius: 0px;
    overflow: hidden;
  }

}

#top-player-hand {
  display: flex;
  column-gap: 5px;

  .section-card,
  .tactic-card {
    max-height: 52px;

    &.inplay {
      max-height: none;
      --memoirCardScale: 0.3;
    }
  }
}

/*
    #right-side {
      float: none;
      margin-left: 0px;
      margin-top: 0px;
      width: 218px;
      flex-shrink: 0;
      padding-left: 35px;
      overflow: auto;
      background: url('img/ui/game_right.png');
      background-repeat: repeat-y;
    }


    #bottom-player {
      margin-top: 25px;
      position: relative;

      .player-board {
        border-radius: 0px;
      }

    }

    #bottom-player-hand {
      display: flex;
      column-gap: 5px;

      .tactic-card.inplay,
      .section-card.inplay,
      .tactic-card.choice,
      .section-card.choice {
        margin-top: -20px;
      }
    }

*/
