html {
  background: url('img/ui/background.jpg');
}
:root {
  --memoirCentralZone: 600;
}

#topbar {
  margin-bottom: 0px;
}

#right-side {
  //  background: url('img/ui/game_right.jpg');
  margin-top: 0px;
  padding-top: 10px;
}

.mobile_version #right-side {
  padding-left: 0px;
  background: url('img/ui/game_top.jpg');
  background-repeat: repeat-x;
  background-size: auto 100%;
  background-position: bottom center;
}

#left-side-wrapper {
  margin-top: 0px;

  #left-side {
    margin-right: 270px;
    top: 0px;
    margin-left: 0px;

    .logs_on_additional_column & {
      margin-right: 520px;
    }
  }
}
.mobile_version #left-side-wrapper #left-side {
  margin-right: 0;
}

.logs_on_additional_column .player-board {
  border-radius: 8px;
}

/* Cancelled notification messages */
.log.cancel {
  color: #c62828 !important;
  text-decoration: line-through;
}

/* Desktop logs */
.log.cancel .roundedbox {
  background-color: rgba(240, 186, 117, 0.6) !important;
}

/* Mobile logs */
.log.cancel.roundedbox {
  background-color: #ef9a9a;
}

#title-content-wrapper {
  position: relative;
  background: url('img/ui/game_top.jpg');
  background-repeat: repeat-x;
  background-size: auto 185px;
  background-position: top center;
  padding-top: 5px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    right: -18px;
    width: 18px;
    top: 0;
    bottom: 0;
    z-index: 10;
    background-image: url('img/ui/game_right.jpg');
    background-size: 100% auto;
    background-repeat: repeat-y;
    box-shadow: -1px -1px 3px black;
    background-position: bottom right;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    height: 19px;
    left: 0;
    right: 0;
    bottom: 0px;
    z-index: 11;
    background: url('img/ui/game_bottom.jpg');
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: right top;
    box-shadow: -6px -1px 3px -1px black;
  }
}

#m44-container {
  display: flex;
  flex-flow: column;

  .m44-hrule {
    height: 11px;
    background: url('img/ui/h_rule.jpg');
    background-repeat: repeat-x;

    display: flex;
  }

  #m44-top-container {
    height: 65px;
    position: relative;
    z-index: 5;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    box-shadow: 0px 2px 3px black;
  }
  &[data-layout='0'] #m44-top-container {
    height: 11px;

    #top-medals {
      //      left: 180px;
      left: 0px;
      top: -10px;
    }
  }

  #m44-top-part {
    height: 54px;
    display: flex;

    #top-team {
      height: 52px;
      background-color: #ffffff2e;
      border-top: 1px solid #2f2f2f;
      border-bottom: 1px solid #4f4c4c;

      #top-medals {
        position: absolute;
        bottom: -29px;
      }
    }
  }

  &[data-layout='0'] #m44-central-part {
    #left-holder {
      width: 173px;

      .m44-team {
        .m44-team-players {
          display: none;
        }

        #bottom-team-status {
          width: 173px;
          border-left: none;
          border-top: 1px solid #2f2f2f;
        }
        #top-team-status {
          width: 173px;
          border-left: none;
          border-bottom: 1px solid #2f2f2f;
        }
      }
    }
  }

  #m44-central-part {
    max-height: calc(var(--memoirCentralZone) * 1px);
    min-height: calc(var(--memoirCentralZone) * 1px);
    display: flex;
    margin-top: 0px;
    margin-bottom: 0px;
    overflow: hidden;
    position: relative;

    [data-centralZone='1'] & {
      max-height: none;
      min-height: auto;
    }

    #left-holder {
      width: 100px;
      flex-shrink: 0;
      background: url('img/ui/background.jpg');
      display: flex;
      flex-flow: column;
      justify-content: space-between;
      align-items: center;
      box-sizing: border-box;
      position: relative;
      z-index: 4;
      margin-right: 20px;

      &::before {
        content: '';
        display: block;
        position: absolute;
        right: -20px;
        width: 21px;
        top: 0;
        bottom: 0;
        z-index: 10;
        background-image: url('img/ui/game_left.jpg');
        background-size: 100% auto;
        background-repeat: repeat-y;
        box-shadow: 2px 1px 3px black;
      }

      #deck,
      #discard,
      #top-in-play,
      #bottom-in-play {
        width: 80px;
        height: 128px;
        --memoirCardScale: 0.2548;
        position: relative;
        .m44-card {
          position: absolute;
          top: 0;
        }
      }

      #top-in-play {
        transform: rotate(180deg);
      }

      #deck {
        background-image: url('img/card_back.jpg');
        background-size: 100% 100%;
        border-radius: 7px;
        position: relative;

        #deck-count {
          width: 40px;
          height: 39px;
          position: absolute;
          left: 20px;
          top: 45px;
          background: #ffffffed;
          border-radius: 15%;
          border: 1px solid black;
          text-align: center;
          line-height: 42px;
          font-family: Gunplay;
          font-size: 30px;
        }
      }

      #discard {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 8px;
      }
    }

    #m44-board-wrapper {
      flex-grow: 2;
      position: relative;
      overflow: hidden;
      min-height: 420px;
      background-image: url('img/ui/background_center.jpg');
      background-size: cover;
      background-position: center center;

      #m44-board-scrollable {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
        z-index: 1;
        //        padding: 20px;
        box-sizing: border-box;
      }

      #scenario-dropzone-container {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #ddd;
        z-index: 3;
        display: flex;
        justify-content: center;
        align-items: center;

        &.active #scenario-dropzone {
          border: dashed 3px dodgerblue;
        }

        #scenario-dropzone {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-flow: column;
          border: dashed 3px black;
          border-radius: 1rem;
          padding: 2rem;

          svg {
            width: 100px;
          }

          [type='file'] {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            overflow: hidden;
            padding: 0;
            position: absolute !important;
            white-space: nowrap;
            width: 1px;
          }

          [type='file'] + label {
            margin-top: 1rem;
            background-color: #0d6efd;
            border-radius: 4rem;
            color: #fff;
            cursor: pointer;
            display: inline-block;
            padding: 0.7rem 1rem;
            text-align: center;
            user-select: none;
            font-family: 'Gunplay';
            font-size: 25px;
          }

          [type='file']:focus + label,
          [type='file'] + label:hover {
            background-color: #0a58ca;
            color: #fff;
          }

          [type='file']:focus + label {
            outline: 1px dotted #fff;
          }

          h5 {
            font-family: 'Gunplay';
            font-size: 25px;
            margin-top: 30px;
          }
        }
      }
    }

    #right-holder {
      width: 52px;
      flex-shrink: 0;
      background: #4a6632;
      box-shadow: -1px -1px 3px black;
      z-index: 4;
      display: flex;
      flex-flow: column;

      #m44-board-zoom-in,
      #m44-board-zoom-out,
      #m44-terrains-settings,
      #m44-opponentUnits-settings,
      #m44-ownUnits-settings,
      #m44-tokens-settings,
      #m44-labels-settings,
      #m44-coords-settings,
      #m44-summaryHover-settings,
      #m44-summaryClick-settings,
      #m44-summary-settings-showAll,
      #m44-react-settings {
        width: 40px;
        padding: 6px 6px;

        svg {
          width: 40px;
          height: 40px;
          cursor: pointer;
        }
        &:hover svg {
          fill: white;
          color: white;
        }
      }

      #m44-opponentUnits-settings,
      #m44-coords-settings,
      #m44-summary-settings-showAll,
      #m44-react-settings {
        border-bottom: 1px solid #0f330a;
      }

      #m44-ownUnits-settings {
        margin-top: auto;
        border-top: 1px solid #0f330a;
      }

      #m44-ownUnits-settings,
      #m44-opponentUnits-settings {
        position: relative;
        &::before {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          position: absolute;
          bottom: 21px;
          right: 7px;
          border-radius: 50%;
          border: 1px solid black;
        }
      }

      [data-bottom-team='AXIS'] & #m44-opponentUnits-settings::before {
        background: radial-gradient(farthest-corner at 10% 95%, #77b3d2, #348eb1);
      }
      [data-bottom-team='AXIS'] & #m44-ownUnits-settings::before {
        background: radial-gradient(farthest-corner at 10% 95%, #b6291b, #dc672e);
      }
      [data-bottom-team='ALLIES'] & #m44-opponentUnits-settings::before {
        background: radial-gradient(farthest-corner at 10% 95%, #b6291b, #dc672e);
      }
      [data-bottom-team='ALLIES'] & #m44-ownUnits-settings::before {
        background: radial-gradient(farthest-corner at 10% 95%, #77b3d2, #348eb1);
      }
    }

    #m44-board-wrapper[data-opponent-units='1'] ~ #right-holder #m44-opponentUnits-settings svg:first-of-type {
      display: none;
    }
    #m44-board-wrapper[data-opponent-units='0'] ~ #right-holder #m44-opponentUnits-settings svg:last-of-type {
      display: none;
    }
    #m44-board-wrapper[data-own-units='1'] ~ #right-holder #m44-ownUnits-settings svg:first-of-type {
      display: none;
    }
    #m44-board-wrapper[data-own-units='0'] ~ #right-holder #m44-ownUnits-settings svg:last-of-type {
      display: none;
    }
    #m44-board-wrapper[data-terrains='1'] ~ #right-holder #m44-terrains-settings svg:first-of-type {
      display: none;
    }
    #m44-board-wrapper[data-terrains='0'] ~ #right-holder #m44-terrains-settings svg:last-of-type {
      display: none;
    }
    #m44-board-wrapper[data-tokens='1'] ~ #right-holder #m44-tokens-settings svg:first-of-type {
      display: none;
    }
    #m44-board-wrapper[data-tokens='0'] ~ #right-holder #m44-tokens-settings svg:last-of-type {
      display: none;
    }
    #m44-board-wrapper[data-labels='1'] ~ #right-holder #m44-labels-settings svg:first-of-type {
      display: none;
    }
    #m44-board-wrapper[data-labels='0'] ~ #right-holder #m44-labels-settings svg:last-of-type {
      display: none;
    }
    #m44-board-wrapper[data-coords='1'] ~ #right-holder #m44-coords-settings svg:first-of-type {
      display: none;
    }
    #m44-board-wrapper[data-coords='0'] ~ #right-holder #m44-coords-settings svg:last-of-type {
      display: none;
    }

    .mobile_version & #m44-board-wrapper ~ #right-holder #m44-summaryHover-settings {
      display: none;
    }
    #m44-board-wrapper[data-summary-hover='1'] ~ #right-holder #m44-summaryHover-settings svg:first-of-type {
      display: none;
    }
    #m44-board-wrapper[data-summary-hover='0'] ~ #right-holder #m44-summaryHover-settings svg:last-of-type {
      display: none;
    }
    #m44-board-wrapper[data-summary-click='1'] ~ #right-holder #m44-summaryClick-settings svg:first-of-type {
      display: none;
    }
    #m44-board-wrapper[data-summary-click='0'] ~ #right-holder #m44-summaryClick-settings svg:last-of-type {
      display: none;
    }

    [data-auto-react='0'] & #right-holder #m44-react-settings svg:first-of-type {
      display: none;
    }
    [data-auto-react='1'] & #right-holder #m44-react-settings svg:last-of-type {
      display: none;
    }
  }

  #m44-bottom-container {
    position: relative;
    z-index: 5;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    box-shadow: 0px -2px 3px -1px black;

    background: url('img/ui/game_top.jpg');
    background-repeat: repeat;
    background-size: auto 180px;
  }

  &[data-layout='0'] #m44-bottom-container {
    #bottom-medals {
      //      left: 180px;
      left: 0px;
      top: -10px;
    }
  }

  #m44-bottom-part {
    height: 54px;
    display: flex;

    #bottom-team {
      height: 52px;
      background-color: #ffffff2e;
      border-bottom: 1px solid #2f2f2f;
      border-top: 1px solid #4f4c4c;

      #bottom-medals {
        position: absolute;
        top: -29px;
      }
    }
  }

  &[data-layout='0'] .m44-team-medals {
    position: relative;
  }

  .m44-team-medals {
    position: absolute;
    z-index: 2;

    .medals-slots-container,
    .medals-container {
      height: 35px;
      display: flex;
      column-gap: 3px;
      padding-left: 3px;
    }

    .medals-slots-container {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;

      .m44-medal-slot {
        width: 35px;
        height: 35px;
        background-image: url('img/ui/medalspot.png');
        background-size: 100% 100%;
      }
    }
  }

  .m44-team {
    display: flex;
    position: relative;
    width: 100%;

    .m44-team-name {
      width: 90px;
      font-size: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0px;
      border-radius: 0px;
      height: auto;

      &[data-team='AXIS'] {
        border: 2px solid #b72c14;
      }
      &[data-team='ALLIES'] {
        border: 2px solid #1d6f98;
      }
    }

    .m44-team-players {
      display: flex;
      flex-grow: 1;

      .m44-player-panel {
        position: relative;
        display: flex;
        background: #ebd5bd;
        --memoirCardScale: 0.095;
        border-right: 1px solid #2f2f2f;

        .player-avatar {
          display: flex;
          align-items: center;
          padding-left: 2px;
        }

        .player-name {
          flex-grow: 1;
          min-width: 100px;
          padding: 5px 10px 5px 5px;
          border-right: 1px solid #2f2f2f;
        }

        .hand-count-holder {
          background-color: #95612a3b;
        }

        .commissar-holder {
          background-color: #95612a3b;
          border-left: 1px solid #2f2f2f;
        }
      }
    }

    .m44-team-status {
      width: 172px;
      height: 52px;
      background-image: url('img/ui/phases.jpg');
      background-size: 700% 200%;
      border-left: 1px solid #2f2f2f;

      &[data-status='order'] {
        background-position-x: 0;
      }
      &[data-status='para'] {
        background-position-x: 1 * 100% / 6;
      }
      &[data-status='attack'] {
        background-position-x: 2 * 100% / 6;
      }
      &[data-status='command'] {
        background-position-x: 3 * 100% / 6;
      }
      &[data-status='move'] {
        background-position-x: 4 * 100% / 6;
      }
      &[data-status='idle'] {
        background-position-x: 5 * 100% / 6;
      }
      &[data-status='commissar'] {
        background-position-x: 6 * 100% / 6;
      }
    }
  }

  #m44-player-hand {
    width: 100%;
    // background: #ffffff8c;
    --memoirCardScale: 0.38;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    z-index: 5;
    padding: 5px;

    .m44-card.choice {
      margin-top: -40px;
    }

    .commissar-holder {
      position: relative;
      width: calc(var(--memoirCardScale) * 314px);
      height: calc(var(--memoirCardScale) * 503px);

      .commissar-token {
        width: 50px;
        height: 50px;
        background-image: url('img/ui/commissar.png');
        background-size: 100% 100%;
        position: absolute;
        z-index: 7;
        top: -10px;
        left: -10px;
      }
    }

    .m44-card {
      &[data-type='0'],
      &[data-type='3'],
      &[data-type='6'],
      &[data-type='12'] {
        order: 1;
      }

      &[data-type='1'],
      &[data-type='4'],
      &[data-type='7'],
      &[data-type='13'] {
        order: 2;
      }

      &[data-type='2'],
      &[data-type='5'],
      &[data-type='8'],
      &[data-type='14'] {
        order: 3;
      }

      &[data-type='9'],
      &[data-type='10'],
      &[data-type='11'] {
        order: 4;
      }

      @for $i from 15 to 40 {
        &[data-type='#{$i}'] {
          order: $i;
        }
      }
    }
  }
}

.m44-team-name {
  min-width: 60px;
  height: 20px;
  color: white;
  font-weight: bold;
  font-family: Gunplay;
  font-size: 15px;
  text-align: center;
  line-height: 23px;
  border: 1px solid white;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-top: -5px;
  margin-right: 10px;
  box-shadow: 1px 1px 3px black;

  &[data-team='AXIS'] {
    background: radial-gradient(farthest-corner at 10% 95%, #b6291b, #dc672e);
  }
  &[data-team='ALLIES'] {
    background: radial-gradient(farthest-corner at 10% 95%, #77b3d2, #348eb1);
  }
}

.player-board .m44-team-name {
  position: absolute;
  right: 3px;
  top: 49px;
  margin: 0;
  box-shadow: 1px 1px 3px -1px black;
  border-radius: 8px;
}

.hand-count-holder {
  display: flex;
  padding: 2px 7px;
  font-family: 'Gunplay';
  font-size: 28px;
  line-height: 52px;

  .hand-count-back {
    width: 34px;
    height: 48px;
    background-image: url('img/card_back.jpg');
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .hand-count::before {
    content: 'x';
    margin: 0px 3px;
  }

  .m44-card {
    position: absolute;
  }
}

.commissar-holder {
  display: flex;
  padding: 2px 7px;

  .commissar-token {
    width: 40px;
    height: 40px;
    background-image: url('img/ui/commissar.png');
    background-size: 100% 100%;
    margin-top: 2px;
  }

  .commissar-slot {
    position: relative;
    width: 34px;
    height: 48px;
    margin-left: 3px;

    .m44-card {
      position: absolute;
    }
  }
}

.player-panel-wrapper .commissar-holder {
  --memoirCardScale: 0.1;
}

/*



#top-player {
  position: relative;

  .player-board {
    height: 42px !important;
    width: 244px !important;
    border-radius: 0px;
    overflow: hidden;
  }

}

#top-player-hand {
  display: flex;
  column-gap: 5px;

  .section-card,
  .tactic-card {
    max-height: 52px;

    &.inplay {
      max-height: none;
    }
  }
}

/*
    #right-side {
      float: none;
      margin-left: 0px;
      margin-top: 0px;
      width: 218px;
      flex-shrink: 0;
      padding-left: 35px;
      overflow: auto;
      background: url('img/ui/game_right.png');
      background-repeat: repeat-y;
    }


    #bottom-player {
      margin-top: 25px;
      position: relative;

      .player-board {
        border-radius: 0px;
      }

    }

    #bottom-player-hand {
      display: flex;
      column-gap: 5px;

      .tactic-card.inplay,
      .section-card.inplay,
      .tactic-card.choice,
      .section-card.choice {
        margin-top: -20px;
      }
    }

*/
