@use 'sass:math';

.m44-medal {
  width: 35px;
  height: 35px;
  background-image: url('img/medals.png');
  background-size: 200% 400%;

  @for $i from 0 through 8 {
    &[data-sprite='#{$i}'] {
      background-position-x: calc(math.max($i % 2) * 100%);
      background-position-y: calc((($i - (math.max($i % 2))) / 2) * 100% / 3);
    }
  }

  .m44-unit {
    display: flex;
    justify-content: center;
    align-items: center;

    .m44-unit-meeple {
      background-image: url('img/units.png');
      background-repeat: no-repeat;
      transform: scale(1.3);

      [data-unitSprite='0'] & {
        background-image: url('img/units_new.png');
        background-size: 1095.19%;
      }
    }
  }
}

.hex-cell .m44-medal {
  position: absolute;
}

.board-medal {
  background-image: url('img/medals.png');
  background-size: 200% 400%;

  @for $i from 0 through 8 {
    &[data-sprite='#{$i}'] {
      background-position-x: calc(math.max($i % 2) * 100%);
      background-position-y: calc((($i - (math.max($i % 2))) / 2) * 100% / 3);
    }
  }

  &[data-sprite='both'] {
    background-position-x: 100%;

    &::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: -50%;
      top: 0;
      background-image: url('img/medals.png');
      background-size: 200% 400%;
    }
  }
}

.hex-grid-item .board-medal {
  width: 42.8%;
  height: 37%;
  position: absolute;
  right: 4%;
  top: 16%;
  z-index: 3;
  [data-tokens='0'] & {
    display: none;
  }

  &.hide {
    visibility: hidden;
  }
}
