.memoir44_popin {
  width: 80%;
  position: relative;

  &::before,
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("img/ui/dialog-texture.jpg");
    box-shadow: 5px 5px 3px 0px rgba(20, 20, 20, 0.6), -5px 5px 3px 0px rgba(20, 20, 20, 0.6),
      -5px -5px 3px 0px rgba(20, 20, 20, 0.5);
    z-index: -1;
  }

  &::before {
    transform: rotate(-2deg);
    transform-origin: top left;
    z-index: -2;
    left: -11px;
    top: 25px;
  }

  .memoir44_popin_closeicon {
    background-color: #b74d44;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -15px;
    right: -15px;
    font-size: 100%;
    color: white !important;

    &:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1);
    }

    i {
      margin-top: -2px;
    }
  }
}

#popin_showScenario,
#popin_showCampaign,
#popin_showScenarioLobby {
  width: 1000px;

  h2 {
    text-align: center;
    font-family: "Gunplay";
    color: #9e0a0f;
    font-size: 39px;
    text-transform: uppercase;
    margin: 0px;
    background: #ffffffab;
    padding: 14px 0px 7px;
    border-bottom: 1px solid #8080808a;
  }

  #popin_showScenario_contents,
  #popin_showCampaign_contents,
  #popin_showScenarioLobby_contents {
    display: flex;
    flex-flow: column;
    padding: 10px 15px;

    h5 {
      font-family: "Gunplay";
      color: #c2602f;
      font-size: 23px;
    }

    #scenario-dates {
      text-align: right;
      font-size: 20px;
    }

    #scenario-historical {
      font-family: "Dax";
      text-align: justify;
    }

    #scenario-bottom-container {
      display: flex;
      margin-top: 20px;
      justify-content: space-between;

      & > div {
        width: 49%;
      }

      #scenario-brief {
        border-right: 2px solid #9e0a0f;
      }
    }
  }

  #popin_showCampaign_contents {
    padding: 5px 15px;

    #operation_subtitle {
      text-align: center;
      font-family: "Gunplay";
      color: #9e0a0f;
      font-size: 28px;
      text-transform: uppercase;
    }

    #scenario-dates {
      text-align: right;
      font-size: 17px;
    }

    #general-briefing {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin: 5px 10px;
    }

    #general-speech {
      margin: 0px 20px;
      width: 200%;
    }

    #token-container {
      display: flex;
      justify-content: center;
    }

    #scenarios-container { 
      display: inline-flex;
      flex-wrap: wrap;
    }

    .generals {
      width: 66%;
      height: 210px;
      background-image: url('img/generals.png');
      background-size: 500% 100%;
    
      @for $i from 0 through 4 {
        &[data-sprite='#{$i}'] {
          background-position-x: ($i % 5) * 100% / 4;
          background-position-y: 0%;
        }
      }
    }
  
    .token-panel{
      width: 110%;
      height: 227px;
      background-image: url('img/reserve_token_panel.png');
      background-size: 200% 100%;
    
      @for $i from 0 through 1 {
        &[data-sprite='#{$i}'] {
          background-position-x: ($i % 2) * 100% / 1;
          background-position-y: 0%;
        }
      }
    }
  
    .token-panel-text {
      text-align: center;
      font-family: "Gunplay";
      color: #ffffff;
      font-size: 30px;
      margin: 9px 0px;
    }
    
    .token-panel-number {
      text-align: center;
      font-family: "Gunplay";
      color: #9e0a0f;
      font-size: 33px;
      margin: 8px 7px 0px 0px;
    }
  
    #scenarios-container-right {
      margin: 21px 0px 0px 0px;
    }

    .arrow-container-right{
      margin: 0px 0px -15px -2px;
    }

    .arrow-container-left{
      margin: -51px 0px 0px 240px;
      position: fixed;
    }

    .campaign-step-titles {
      align-items: center;
      display: flex;
      width: 480px;
      height: 48px;
      background-image: url('img/campaign_step_title.png');
      background-size: 100% 200%;
      position: relative;
    
      @for $i from 0 through 1 {
        &[data-sprite='#{$i}'] {
          background-position-x: 0%;
          background-position-y: ($i % 2) * 100% / 1;
        }
      }
    }

    .campaign-step-number {
      text-align: center;
      font-family: "Gunplay";
      color: #ffffff;
      font-size: 25px;
    }

    .scenario-step-number-container {
      width: 30px;
      margin: 5px 0px 0px 31px;
    }

    .scenario-title {
      text-align: center;
      font-family: "Gunplay";
      color: #9e0a0f;
      font-size: 25px;
      text-transform: uppercase;
    }

    .scenario-title-container {
      width: 300px;
      margin: 5px 0px 0px 7px;
    }

    .scenario-id-container {
      width: 50px;
      margin: 5px 0px 0px 19px;
    }

    .scenario-id {
      text-align: center;
      font-family: "Gunplay";
      color: #270708;
      font-size: 18px;
    }

    .scenario-box{
      background-color: #ffffff;
      border-width: thin;
      width : 440px;
      margin: -3px 0px 0px 17px;
      box-shadow: 7px 7px 15px 1px #2F2F2F;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .scenario-box-top{
      display: flex;
    }

    .scenario-box-left{
      width: 100%;
      margin: 7px 0px 0px 10px;
    }

    .campaign-medal, .small-campaign-medal{
      width: 100%;
      height: 100px;
      background-image: url('img/campaign_medals.png');
      background-size: 300% 100%;
      margin: -21px 0px 0px 10px;
      position: relative;
    
      @for $i from 0 through 2 {
        &[data-sprite='#{$i}'] {
          background-position-x: ($i % 3) * 100% / 2;
          background-position-y: 0%;
        }
      }
    }

    .small-campaign-medal{
      width: 30px;
      height: 60px;
      margin: 0px 0px 0px -123px;
    }


    .win-message-container{
      display: flex;
      margin: 0px 0px 0px 0px;
    }

    .win-message{
      width: 470%;
      font-size: 14px;
      margin: 2px 5px 0px 3px;
      text-align: center;
    }

    .scenario-box-right{
      margin: 7px 10px 0px 0px;
    }

    .scenario-map-mini {
      width: 140px;
      height: 77px;
      background-image: url('img/scenarios_maps_mini.png');
      background-size: 400% 100%;
      margin: 0px 0px 0px 0px;
    
      @for $i from 0 through 3 {
        &[data-sprite='#{$i}'] {
          background-position-x: ($i % 4) * 100% / 3;
          background-position-y: 0%;
        }
      }
    }

    .scenario-scores {
      width: 140px;
      height: 77px;
      background-image: url('img/scenario_score.png');
      background-size: 100% 100%;
      margin: 0px 0px 0px 0px;
      display: flex;
    }

    .scores-allies, .scores-axis {
      width: 70px;
      height: 77px;
      text-align: center;
      margin-top: 14px;
    }

    .next-scenario-container{
      width: fit-content;
      margin: 7px 0px 11px 0px;
    }

    #bottom_tables {
      display: inline-flex;
      flex-wrap: wrap;
      margin: 15px 0px 0px 0px;
      
      .bottom-container, .bottom-container2 {
            width: 464px;
            margin: 0px 0px 0px 16px;
      }

      .bottom-container2 {
        display: inline-flex;
      }

    }

    #objective_track_table {
      border-collapse: collapse;
      font-size: 20px;
      text-align: center;
      font-family: "Gunplay";
      table-layout: fixed;
      background-color: #ffffff;
      color: #5e6d3a;

      td {
      border: 3px solid rgb(190,190,190);
      padding: 3px 12px;
      }

      td:first-child {
        background-color : #cbbeb5;
        color: #7b5442;
      }
      
      td:nth-child(2) {
        color: #7b5442;
      }
    }

    #objective_table_svg {
      margin-left: 4px;
    }

    #nbr_medals, #nbr_objectives, #victory_points {
      border-collapse: collapse;
      font-size: 25px;
      text-align: center;
      font-family: "Gunplay";
      table-layout: fixed;
      background-color: #ffffff;
      color: #7b5442;

      td {
      border: 3px solid rgb(190,190,190);
      padding: 6px 12px;
      }

      th {
        background-color : #cbbeb5;
        border: 3px solid #cbbeb5;
        color: #7b5442;
        text-align: right;
        font-size: 12px;
        padding: 1px 20px;
      }

      .second-line {
        color: #7b5442;
      }
    }

    #nbr_objectives, #victory_points {
      margin: 0px 0px 0px -5px;

      th{
        text-align: center;
      }
    }

    #victory_points {

      th{
        background-color : #7b5442;
        border: 3px solid #7b5442;
        color: #ffffff;
      }

      td {
      border: 3px solid #7b5442;
    }

    }

    .dot, .dot2 {
      width: 30px;
      height: 30px;
      //line-height: 500px;
      border-radius: 50%;
      font-size: 22px;
      color: #7b5442;
      text-align: center;
      background: #cbbeb5;
      position: relative;
      margin: 30px 0px 0px 87px;
    }

    .dot2 {
      margin: 30px 0px 0px -5px;
    }




  }

}


#popin_showScenarioLobby {
  #popin_showScenarioLobby_contents {
    #scenario-image-brief {
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;

      img {
        flex-grow: 1;
      }
      #scenario-brief {
        border-right: none;
        margin-left: 20px;
        display: flex;
        flex-flow: column;

        #lobby-button-container {
          flex-grow: 1;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;

          .bgabutton {
            font-size: 25px;
          }
        }
      }
    }

    #scenario-dates {
      float: right;
      font-size: 16px;
      font-family: Roboto, Arial, sans-serif;
    }

    #scenario-historical {
      margin-bottom: 10px;
    }

    #scenario-conditions-rules {
      font-size: 14px;
    }
  }
}

#popin_showStats {
  width: 800px;
  height: 400px;

  h2 {
    text-align: center;
    font-family: "Gunplay";
    color: #9e0a0f;
    font-size: 39px;
    text-transform: uppercase;
    margin: 0px;
    background: #ffffffab;
    padding: 14px 0px 7px;
    border-bottom: 1px solid #8080808a;
  }

  #popin_showStats_contents {
    table {
      width: 100%;

      th,
      td {
        border: 1px solid black;
        padding: 5px 10px;
      }

      thead {
        th {
          background: rgba(255, 255, 255, 0.5);
          text-align: center;
          font-weight: bold;
        }
      }

      tbody {
        th {
          background: rgba(255, 255, 255, 0.3);
          font-weight: bold;
        }
        td {
          text-align: center;
        }
      }
    }
  }
}

#popin_showHexInfo,
#popin_showAllSummary {
  background-color: #ebd5bd;
  border-radius: 8px;
  box-shadow: 0 3px 8px black;
  position: relative;
  width: 800px;

  .memoir44_closeicon {
    background-color: #a47a77;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -18px;
    right: -18px;
    font-size: 90%;
    color: white !important;
    border: 1px solid #dfbda8;

    &:hover {
      text-decoration: none;
      color: #ccc !important;
      transform: scale(1.1);
    }

    i {
      margin-top: -2px;
    }
  }

  &::before,
  &::after {
    display: none;
  }

  h2 {
    text-align: center;
    font-family: "Gunplay";
    color: #9e0a0f;
    font-size: 30px;
    text-transform: uppercase;
    margin: 0px;
    background: #ffffffab;
    padding: 8px 0px 3px;
    border-bottom: 1px solid #8080808a;
  }

  h4 {
    text-align: center;
    color: #312929;
    font-size: 16px;
    background: #ffffffcc;
    padding: 5px 6px;
    border-top: 1px solid #8080808a;
    margin: 0;
    font-weight: normal;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;

    svg {
      width: 30px;
      height: 25px;
    }
  }

  .board-tooltip {
    position: initial;
    width: auto;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: visible;
    padding: 0;

    .summary-card {
      margin: 5px 10px;
    }
  }
}

#popin_showAllSummary_wrapper {
  padding-top: 80px !important;
  height: calc(100vh - 120px) !important;
  min-height: calc(100vh - 120px) !important;
}
#popin_showAllSummary {
  width: 80%;
  #popin_showAllSummary_contents {
    height: 100%;
    #all-summary-modal {
      height: 100%;
      overflow: auto;
    }
  }
}
