@use 'sass:math';

.reserve-token, .reserve-token2 {
  width: 48px;
  height: 48px;
  background-image: url('img/reserve_tokens.png');
  background-size: 400% 100%;

  @for $i from 0 through 3 {
    &[data-sprite='#{$i}'] {
      background-position-x: calc((math.max($i % 4)) * 100% / 3);
      background-position-y: 0%;
    }
  }
}

.reserve-token2 {
  width: 70px;
  height: 70px;
  margin: 0px 5px;
}

.reserve-token-staging {
  width: 60%;
  height: 60%;
  background-image: url('img/reserve_tokens.png');
  background-size: 400% 100%;

  @for $i from 0 through 3 {
    &[data-sprite='#{$i}'] {
      background-position-x: calc((math.max($i % 4)) * 100% / 3);
      background-position-y: 0%;
    }
  }
}

.air_power_token {
  width: 48px;
  height: 48px;
  background-image: url('img/air_power_token.png');
  background-size: 100% 100%;
  background-position-x : 0%;
  background-position-y : 0%;
}

