.m44-unit {
  [data-summary-click='1'] & {
    pointer-events: none;
  }

  width: 100%;
  height: 100%;
  //background: rgba(255, 0, 0, 0.2);
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 67%;
    left: 34%;
    width: 30%;
    height: 30%;
    background-image: url('img/units_badges.png');
    background-size: 600% 800%;
  }
  &[data-badge='0']::after {
    display: none;
  }
  @for $i from 0 through 47 {
    &[data-badge='#{$i + 1}']::after {
      background-position-x: ($i % 6) * 100% / 5;
      background-position-y: (($i - ($i % 6)) / 6) * 100% / 7;
    }
  }

  .m44-meeples-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: absolute;
    top: 7%;

    .m44-unit-meeple {
      position: absolute;
      overflow: hidden;
      background-image: url('img/units.png');
      background-repeat: no-repeat;

      // TODO : remove
      background-color: #ff000070;
      border-radius: 50%;
      width: 40%;
      height: 40%;
      &:nth-of-type(1) {
        left: 5%;
        top: 5%;
      }
      &:nth-of-type(2) {
        left: 50%;
        top: 5%;
      }
      &:nth-of-type(3) {
        left: 5%;
        top: 50%;
      }
      &:nth-of-type(4) {
        left: 50%;
        top: 50%;
      }
    }
  }

  @for $i from 1 through 4 {
    &[data-figures='#{$i}'] .m44-unit-meeple:nth-of-type(#{$i}) ~ .m44-unit-meeple {
      display: none;
    }
  }
  &[data-figures='0'] .m44-unit-meeple {
    display: none;
  }

  &.selectable {
    cursor: pointer;
  }
  &.unselectable {
    cursor: default;
  }

  &.activated,
  &.moving,
  &.attacking,
  &.retreating,
  &.airPowerTarget,
  &.attacked {
    background-image: url('img/hex_border_highlights.png');
    background-size: 400% 300%;
  }

  &.activated {
    background-position: 66.666% 0%;
    &.unselectableForMoving,
    &.unselectableForAttacking {
      background-position: 100% 0%;
    }
    &.mayAttack {
      background-position: 0% 50%;
    }
  }
  &.moving {
    background-position: 66.6666% 50%;
    &.selected {
      transform: scale(0.8);
      background-image: none;
    }
  }
  &.attacking {
    background-position: 33.3333% 50%;
  }
  &.retreating {
    background-position: 100% 50%;
  }
  &.attacked {
    background-position: 0% 100%;
  }
  &.airPowerTarget {
    background-position: 0% 100%;
    &::before {
      content: attr(data-air-power-order);
      position: absolute;
      z-index: 2;
      left: 33%;
      top: 35%;
      width: 34.7%;
      height: 30%;
      background: #ffffffc4;
      border-radius: 50%;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.onTheMove {
    background-position: 33.3333% 0%;
  }
  // &.onTheMove::before {
  //   content: '';
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   bottom: 0;
  //   right: 0;
  //   background-image: url('img/hex_border_highlights.png');
  //   background-size: 400% 200%;
  //   background-position: 0% 0%;
  // }

  &[data-selected]:not([data-selected='0'])::before {
    content: attr(data-selected);
    display: block;
    position: absolute;
    top: 23%;
    left: 5%;
    background: #3fc8f0;
    width: 25%;
    height: 25%;
    border-radius: 50%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    border: 1px solid black;
  }
}

$INFANTRY: 1;
$ARMOR: 2;
$ARTILLERY: 3;

$BOTTOM: 0;
$TOP: 1;

// FORMAT :
//   ORIENTATION
//      TYPE (INF, TANK, GUN)
//        NATION, WIDTH, W/H RATIO, BG SIZE, BG POSX, BG POSY, POSITIONS
$units: (
  $BOTTOM: (
    $INFANTRY: (
      'ger' 50% 1.3333 1137.78% 46.3597% 34.949% (23% -2%, 52% 14%, 4% 19%, 33% 33%),
      'us' 50% 1.4063 1066.67% 0.107759% 0.265252% (24% 3%, 52% 14%, 2% 24%, 33% 35%),
      'ru' 60% 1.1698 966.038% 0.108932% 35.3093% (17% -4%, 45% 7%, 0% 17%, 29% 29%),
      'brit' 50% 1.3021 1066.67% 82.6509% 0.258398% (24% 3%, 52% 14%, 2% 24%, 33% 35%),
      'jp' 57% 1.1698 966.038% 94.1176% 0.257732% (18% 0%, 45% 14%, 2% 23%, 29% 35%),
    ),
    $ARMOR: (
      'ger' 51% 1 1003.92% 92.5163% 33.3333% (32% -7%, 2% 10%, 48% 41%, 9% 54%),
      'us' 50% 1.1023 1163.64% 45.2991% 63.1325% (14% -5%, 49% 11%, 6% 39%, 33% 33%),
      'ru' 60% 0.8938 906.195% 11.416% 63.747% (9% -5%, 46% 8%, 1% 38%, 44% 47%),
      'brit' 50% 1.1023 1163.64% 35.7906% 63.1325% (14% -5%, 49% 11%, 3% 38%, 42% 49%),
      'jp' 60% 1 1003.92% 0.10846% 63.747% (34% -4%, 2% 14%, 45% 32%, 4% 44%),
    ),
    $ARTILLERY: (
      'ger' 62% 1.1636 930.909% 20.4595% 0.260417% (38% -8%, 15% 30%),
      'us' 57% 1.2233 994.175% 71.987% 0.259067% (4% -7%, 37% 22%),
      'ru' 70% 1 812.698% 59.6882% 0.259067% (-4% -7%, 31% 21%),
      'brit' 70% 1 812.698% 45.5457% 0.259067% (3% -7%, 36% 20%),
      'jp' 65% 1.1636 930.909% 32.6039% 0.260417% (33% -7%, 7% 25%),
    ),
  ),
  $TOP: (
    $INFANTRY: (
      'ger' 43% 1.4773 1163.64% 10.4701% 0.26178% (22% -2%, 50% 11%, 3% 18%, 32% 28%),
      'us' 50% 1.25 1066.67% 69.5043% 34.949% (22% 2%, 49% 17%, 7% 23%, 32% 34%),
      'ru' 60% 1.1698 966.038% 11.7647% 35.3093% (22% -2%, 50% 11%, 3% 18%, 32% 28%),
      'brit' 54% 1.25 1066.67% 36.2069% 34.949% (27% -6%, 53% 11%, 3% 15%, 32% 30%),
      'jp' 70% 1 930.909% 81.1816% 34.0796% (15% 1%, 42% 13%, -5% 23%, 25% 34%),
    ),
    $ARMOR: (
      'ger' 49% 1 1137.78% 54.9251% 62.9808% (14% -2%, 44% 8%, 7% 42%, 42% 45%),
      'us' 53% 1.0357 1177.01% 13.0203% 85.0467% (33% -7%, 2% 9%, 48% 39%, 14% 53%),
      'ru' 54% 1 1077.89% 74.8116% 62.8297% (31% -10%, 3% 11%, 49% 33%, 2% 47%),
      'brit' 53% 0.9474 1077.89% 85.1453% 62.0853% (31% -4%, 2% 14%, 46% 44%, 10% 55%),
      'jp' 55% 1.0667 1137.78% 64.6681% 62.9808% (19% -9%, 47% 12%, 0% 32%, 30% 53%),
    ),
    $ARTILLERY: (
      'ger' 72% 0.7759 882.759% 97.6872% 62.0853% (-3% 7%, 23% 45%),
      'us' 70% 0.7167 853.333% 0.110619% 85.446% (17% -2%, 4% 47%),
      'ru' 70% 1 853.333% 57.9646% 34.949% (18% -5%, 2% 39%),
      'brit' 67% 1 853.333% 23.7832% 34.949% (18% -5%, -2% 35%),
      'jp' 70% 0.8621 930.909% 32.6039% 0.260417% (30% -8%, 1% 25%),
    ),
  ),
);

[data-unitSprite='1'] {
  @each $orientation, $unitsData in $units {
    @each $type, $map in $unitsData {
      @each $nation, $width, $ratio, $bgSize, $bgPosX, $bgPosY, $positions in $map {
        .m44-unit[data-orientation='#{$orientation}'][data-type='#{$type}'][data-nation='#{$nation}'] .m44-unit-meeple {
          width: $width;
          height: $width * $ratio;
          background-size: $bgSize;
          background-position: $bgPosX $bgPosY;

          // TODO : remove
          background-color: transparent;
          border-radius: none;

          $i: 1;
          @each $x, $y in $positions {
            &:nth-of-type(#{$i}) {
              left: $x;
              top: $y;
              $i: $i + 1;
            }
          }
        }

        .summary-tile
          .m44-unit[data-orientation='#{$orientation}'][data-type='#{$type}'][data-nation='#{$nation}']
          .m44-unit-meeple {
          width: 100%;
          height: 100% * $ratio;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

///////////////////////////////////////////////////////////
// _   _                 ____             _ _
// | \ | | _____      __ / ___| _ __  _ __(_) |_ ___
// |  \| |/ _ \ \ /\ / / \___ \| '_ \| '__| | __/ _ \
// | |\  |  __/\ V  V /   ___) | |_) | |  | | ||  __/
// |_| \_|\___| \_/\_/   |____/| .__/|_|  |_|\__\___|
//                            |_|
//
// FORMAT :
//   ORIENTATION
//      TYPE (INF, TANK, GUN)
//        NATION, WIDTH, BG POSX, BG POSY, POSITIONS
$r: 1.14973262; // Fixed ratio
$newUnits: (
  $BOTTOM: (
    $INFANTRY: (
      'ger' 90% 60.2902% 0% (5% -24%, 32% -4%, -15% -3%, 11% 15%),
      'us' 82% 50.2418% 0% (4% -15%, 32% -4%, -17% 4%, 13% 15%),
      'ru' 80% 0% 53.152% (-5% -9%, 22% 6%, -12% 15%, 16% 29%),
      'brit' 85% 20.0967% 53.152% (8% -9%, 37% 5%, -14% 9%, 15% 22%),
      'jp' 82% 80.3869% 26.576% (9% -9%, 34% 5%, -10% 9%, 15% 24%),
    ),
    $ARMOR: (
      'ger' 76% 0% 26.576% (3% -24%, 34% -8%, -10% 22%, 23% 36%),
      'us' 80% 80.3869% 0% (-3% -24%, 31% -11%, -13% 21%, 27% 30%),
      'ru' 77% 60.2902% 53.152% (-3% -22%, 32% -3%, -9% 23%, 32% 31%),
      'brit' 75% 80.3869% 53.152% (-7% -18%, 31% -7%, -5% 27%, 29% 37%),
      'jp' 80% 40.1934% 53.152% (-6% -17%, 30% -6%, 6% 32%, 31% 29%),
    ),
    $ARTILLERY: (
      'ger' 83% 30.1451% 0% (-6% -17%, 24% 16%),
      'us' 82% 10.0484% 0% (-1% -18%, 25% 18%),
      'ru' 70% 50.2418% 26.576% (-4% -7%, 31% 21%),
      'brit' 72% 60.2902% 26.576% (-4% -5%, 35% 20%),
      'jp' 73% 40.1934% 26.576% (-1% -10%, 18% 30%),
    ),
  ),
  $TOP: (
    $INFANTRY: (
      'ger' 90% 70.3385% 0% (9% -30%, 37% -17%, -14% -10%, 18% 2%),
      'us' 85% 40.1934% 0% (10% -17%, 37% -2%, -10% 3%, 17% 17%),
      'ru' 83% 10.0484% 53.152% (11% -18%, 39% -2%, -6% 6%, 23% 19%),
      'brit' 85% 30.1451% 53.152% (15% -13%, 38% 4%, -13% 5%, 14% 21%),
      'jp' 90% 90.4352% 26.576% (0% 25%, 31% -11%, -15% 0%, 18% 13%),
    ),
    $ARMOR: (
      'ger' 74% 10.0484% 26.576% (-3% -23%, 34% -15%, -7% 22%, 35% 27%),
      'us' 80% 90.4352% 0% (3% -27%, 34% -11%, -11% 18%, 22% 33%),
      'ru' 80% 70.3385% 53.152% (-4% -16%, 33% -9%, 18% 35%, -9% 15%),
      'brit' 73% 90.4352% 53.152% (-5% -14%, 34% -8%, -5% 27%, 35% 36%),
      'jp' 75% 50.2418% 53.152% (4% -19%, 34% 2%, -7% 26%, 25% 38%),
    ),
    $ARTILLERY: (
      'ger' 92% 20.0967% 0% (-8% -23%, 16% 18%),
      'us' 85% 0% 0% (8% -22%, 18% 26%),
      'ru' 80% 30.1451% 26.576% (3% -22%, 20% 23%),
      'brit' 79% 70.3385% 26.576% (15% -21%, 11% 28%),
      'jp' 77% 20.0967% 26.576% (10% -16%, 12% 30%),
    ),
  ),
);

[data-unitSprite='0'] {
  .m44-unit {
    .m44-meeples-container {
      .m44-unit-meeple {
        background-image: url('img/units_new.png');
        background-size: 1095.19%;
        background-color: transparent;
        border-radius: none;
      }
    }
  }

  @each $orientation, $unitsData in $newUnits {
    @each $type, $map in $unitsData {
      @each $nation, $width, $bgPosX, $bgPosY, $positions in $map {
        .m44-unit[data-orientation='#{$orientation}'][data-type='#{$type}'][data-nation='#{$nation}'] .m44-unit-meeple {
          width: $width;
          height: $width * $r;
          background-position: $bgPosX $bgPosY;

          $i: 1;
          @each $x, $y in $positions {
            &:nth-of-type(#{$i}) {
              left: $x;
              top: $y;
              $i: $i + 1;
            }
          }
        }

        .summary-tile
          .m44-unit[data-orientation='#{$orientation}'][data-type='#{$type}'][data-nation='#{$nation}']
          .m44-unit-meeple {
          width: 130%;
          height: 130% * $r;
          left: -15%;
          top: 0;
        }
      }
    }
  }
}

// Rect-terrain unit : destroyer, locomotive, wagon
@for $type from 5 through 7 {
  .m44-unit[data-type='#{$type}'] {
    &::after {
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url('img/board_obstacles.png');
      background-size: 600% 500%;
    }

    .m44-unit-meeple {
      display: none;
      background: url('img/tokens.png');
      background-size: 300% 400%;
    }

    @for $i from 1 through 12 {
      &[data-rotation='#{$i}']::after {
        transform: rotate(30deg * $i);
      }
    }
  }
}

.m44-unit[data-type='5']::after {
  background-position-x: 3 * 100% / 5;
  background-position-y: 2 * 100% / 4;
}

.m44-unit[data-type='6']::after {
  background-position-x: 5 * 100% / 5;
  background-position-y: 1 * 100% / 4;
}
.m44-unit[data-type='7']::after {
  background-position-x: 2 * 100% / 5;
  background-position-y: 3 * 100% / 4;
}

// Destroyer have 3 life
.m44-unit[data-type='5'] {
  @for $i from 0 through 2 {
    &[data-figures='#{$i}'] {
      @for $j from 1 through 3 - $i {
        .m44-unit-meeple:nth-child(#{$j}) {
          display: block;
        }
      }
    }
  }
}

// Trains have 5 life
.m44-unit[data-type='6'] {
  @for $i from 0 through 3 {
    &[data-figures='#{$i}'] {
      @for $j from 1 through 4 - $i {
        .m44-unit-meeple:nth-child(#{$j}) {
          display: block;
        }
      }
    }
  }
}

[data-bottom-team='AXIS'] {
  [data-opponent-units='0'] .hex-cell .m44-unit {
    &[data-nation='us'],
    &[data-nation='ru'],
    &[data-nation='brit'] {
      display: none;
    }
  }

  [data-own-units='0'] .hex-cell .m44-unit {
    &[data-nation='ger'],
    &[data-nation='jp'] {
      display: none;
    }
  }
}

[data-bottom-team='ALLIES'] {
  [data-opponent-units='0'] .hex-cell .m44-unit {
    &[data-nation='ger'],
    &[data-nation='jp'] {
      display: none;
    }
  }

  [data-own-units='0'] .hex-cell .m44-unit {
    &[data-nation='us'],
    &[data-nation='ru'],
    &[data-nation='brit'] {
      display: none;
    }
  }
}
