.memoir-unit {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  //background: rgba(255, 0, 0, 0.2);
  position: relative;

  .memoir-unit-meeple {
    position: absolute;
    overflow: hidden;
    background-image: url('img/units.png');
    background-repeat: no-repeat;
  }

  @for $i from 1 through 4 {
    &[data-figures='#{$i}'] .memoir-unit-meeple:nth-of-type(#{$i}) ~ .memoir-unit-meeple {
      display: none;
    }
  }
}

$INFANTRY: 1;
$ARMOR: 2;
$ARTILLERY: 3;

// FORMAT :
//   ORIENTATION
//      TYPE (INF, TANK, GUN)
//        NATION, WIDTH, W/H RATIO, BG SIZE, BG POSX, BG POSY, POSITIONS
$units: (
  0: (
    $INFANTRY: (
      'ger' 50% 1.3333 1137.78% 46.3597% 34.949% (23% -2%, 52% 14%, 4% 19%, 33% 33%),
      'us' 50% 1.4063 1066.67% 0.107759% 0.265252% (24% 3%, 52% 14%, 2% 24%, 33% 35%),
    ),
  ),
  1: (
    $INFANTRY: (
      'ger' 43% 1.4773 1163.64% 10.4701% 0.26178% (22% -2%, 50% 11%, 3% 18%, 32% 28%),
      'us' 50% 1.25 1066.67% 69.5043% 34.949% (22% 2%, 49% 17%, 7% 23%, 32% 34%),
    ),
  ),
);

@each $orientation, $unitsData in $units {
  @each $type, $map in $unitsData {
    @each $nation, $width, $ratio, $bgSize, $bgPosX, $bgPosY, $positions in $map {
      .memoir-unit[data-orientation='#{$orientation}'][data-type='#{$type}'][data-nation='#{$nation}']
        .memoir-unit-meeple {
        width: $width;
        height: $width * $ratio;
        background-size: $bgSize;
        background-position: $bgPosX $bgPosY;

        $i: 1;
        @each $x, $y in $positions {
          &:nth-of-type(#{$i}) {
            left: $x;
            top: $y;
            $i: $i + 1;
          }
        }
      }
    }
  }
}

.gbgun_bottom {
  width: 126px;
  height: 126px;
  background-position: 45.5457% 0.259067%;
  background-size: 812.698%;
}
.gbgun_top {
  width: 120px;
  height: 120px;
  background-position: 23.7832% 34.949%;
  background-size: 853.333%;
}
.gbinf_bottom {
  width: 96px;
  height: 125px;
  background-position: 82.6509% 0.258398%;
  background-size: 1066.67%;
}
.gbinf_top {
  width: 96px;
  height: 120px;
  background-position: 36.2069% 34.949%;
  background-size: 1066.67%;
}
.gbtank_bottom {
  width: 88px;
  height: 97px;
  background-position: 35.7906% 63.1325%;
  background-size: 1163.64%;
}
.gbtank_top {
  width: 95px;
  height: 90px;
  background-position: 85.1453% 62.0853%;
  background-size: 1077.89%;
}
.gergun_bottom {
  width: 110px;
  height: 128px;
  background-position: 20.4595% 0.260417%;
  background-size: 930.909%;
}
.gergun_top {
  width: 116px;
  height: 90px;
  background-position: 97.6872% 62.0853%;
  background-size: 882.759%;
}
.gertank_bottom {
  width: 102px;
  height: 101px;
  background-position: 92.5163% 33.3333%;
  background-size: 1003.92%;
}
.gertank_top {
  width: 90px;
  height: 96px;
  background-position: 54.9251% 62.9808%;
  background-size: 1137.78%;
}
.jpgun_bottom {
  width: 110px;
  height: 128px;
  background-position: 32.6039% 0.260417%;
  background-size: 930.909%;
}
.jpgun_top {
  width: 116px;
  height: 100px;
  background-position: 24.0088% 63.5922%;
  background-size: 882.759%;
}
.jpinf_bottom {
  width: 106px;
  height: 124px;
  background-position: 94.1176% 0.257732%;
  background-size: 966.038%;
}
.jpinf_top {
  width: 110px;
  height: 110px;
  background-position: 81.1816% 34.0796%;
  background-size: 930.909%;
}
.jptank_bottom {
  width: 102px;
  height: 101px;
  background-position: 0.10846% 63.747%;
  background-size: 1003.92%;
}
.jptank_top {
  width: 90px;
  height: 96px;
  background-position: 64.6681% 62.9808%;
  background-size: 1137.78%;
}
.rugun_bottom {
  width: 126px;
  height: 126px;
  background-position: 59.6882% 0.259067%;
  background-size: 812.698%;
}
.rugun_top {
  width: 120px;
  height: 120px;
  background-position: 57.9646% 34.949%;
  background-size: 853.333%;
}
.ruinf_bottom {
  width: 106px;
  height: 124px;
  background-position: 0.108932% 35.3093%;
  background-size: 966.038%;
}
.ruinf_top {
  width: 106px;
  height: 124px;
  background-position: 11.7647% 35.3093%;
  background-size: 966.038%;
}
.rutank_bottom {
  width: 113px;
  height: 101px;
  background-position: 11.416% 63.747%;
  background-size: 906.195%;
}
.rutank_top {
  width: 95px;
  height: 95px;
  background-position: 74.8116% 62.8297%;
  background-size: 1077.89%;
}
.usgun_bottom {
  width: 103px;
  height: 126px;
  background-position: 71.987% 0.259067%;
  background-size: 994.175%;
}
.usgun_top {
  width: 120px;
  height: 86px;
  background-position: 0.110619% 85.446%;
  background-size: 853.333%;
}
.ustank_bottom {
  width: 88px;
  height: 97px;
  background-position: 45.2991% 63.1325%;
  background-size: 1163.64%;
}
.ustank_top {
  width: 87px;
  height: 84px;
  background-position: 13.0203% 85.0467%;
  background-size: 1177.01%;
}
