.m44-unit {
  width: 100%;
  height: 100%;
  //background: rgba(255, 0, 0, 0.2);
  position: relative;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 63%;
    left: 32%;
    width: 35%;
    height: 35%;
    background-image: url('img/units_badges.png');
    background-size: 600% 800%;
  }
  &[data-badge='0']::after {
    display: none;
  }
  @for $i from 0 through 47 {
    &[data-badge='#{$i + 1}']::after {
      background-position-x: ($i % 6) * 100% / 5;
      background-position-y: (($i - ($i % 6)) / 6) * 100% / 7;
    }
  }

  .m44-meeples-container {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: absolute;
    top: 7%;

    .m44-unit-meeple {
      position: absolute;
      overflow: hidden;
      background-image: url('img/units.png');
      background-repeat: no-repeat;

      // TODO : remove
      background-color: #ff000070;
      border-radius: 50%;
      width: 40%;
      height: 40%;
      &:nth-of-type(1) {
        left: 5%;
        top: 5%;
      }
      &:nth-of-type(2) {
        left: 50%;
        top: 5%;
      }
      &:nth-of-type(3) {
        left: 5%;
        top: 50%;
      }
      &:nth-of-type(4) {
        left: 50%;
        top: 50%;
      }
    }
  }

  @for $i from 1 through 4 {
    &[data-figures='#{$i}'] .m44-unit-meeple:nth-of-type(#{$i}) ~ .m44-unit-meeple {
      display: none;
    }
  }
  &[data-figures='0'] .m44-unit-meeple {
    display: none;
  }

  &.selectable {
    cursor: pointer;
  }
  &.unselectable {
    cursor: default;
  }

  &.activated,
  &.moving,
  &.attacking,
  &.retreating,
  &.airPowerTarget,
  &.attacked {
    background-image: url('img/hex_border_highlights.png');
    background-size: 400% 200%;
  }

  &.activated {
    background-position: 66.666% 0%;
    &.unselectableForMoving,
    &.unselectableForAttacking {
      background-position: 100% 0%;
    }
  }
  &.moving {
    background-position: 33.333% 0%;
  }
  &.attacking {
    background-position: 0% 100%;
  }
  &.retreating {
    background-position: 66.666% 100%;
  }
  &.attacked {
    background-position: 100% 100%;
  }
  &.airPowerTarget {
    background-position: 100% 100%;
    &::before {
      content: attr(data-air-power-order);
      position: absolute;
      z-index: 2;
      left: 33%;
      top: 35%;
      width: 34.7%;
      height: 30%;
      background: #ffffffc4;
      border-radius: 50%;
      border: 1px solid black;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &.onTheMove::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('img/hex_border_highlights.png');
    background-size: 400% 200%;
    background-position: 0% 0%;
  }
}

$INFANTRY: 1;
$ARMOR: 2;
$ARTILLERY: 3;

$BOTTOM: 0;
$TOP: 1;

// FORMAT :
//   ORIENTATION
//      TYPE (INF, TANK, GUN)
//        NATION, WIDTH, W/H RATIO, BG SIZE, BG POSX, BG POSY, POSITIONS
$units: (
  $BOTTOM: (
    $INFANTRY: (
      'ger' 50% 1.3333 1137.78% 46.3597% 34.949% (23% -2%, 52% 14%, 4% 19%, 33% 33%),
      'us' 50% 1.4063 1066.67% 0.107759% 0.265252% (24% 3%, 52% 14%, 2% 24%, 33% 35%),
      'ru' 50% 1.1698 966.038% 0.108932% 35.3093% (24% 3%, 52% 14%, 2% 24%, 33% 35%),
    ),
    $ARMOR: (
      'ger' 50% 1 1003.92% 92.5163% 33.3333% (23% -2%, 52% 14%, 4% 19%, 33% 33%),
      'us' 50% 1.1023 1163.64% 45.2991% 63.1325% (14% -5%, 49% 11%, 3% 38%, 33% 33%),
      'ru' 50% 0.8938 906.195% 11.416% 63.747% (14% -5%, 49% 11%, 3% 38%, 33% 33%),
    ),
    $ARTILLERY: (
      'ger' 50% 1.1636 930.909% 20.4595% 0.260417% (23% -2%, 52% 14%),
      'us' 50% 1.2233 994.175% 71.987% 0.259067% (12% -7%, 44% 29%),
      'ru' 50% 1 812.698% 59.6882% 0.259067% (12% -7%, 44% 29%),
    ),
  ),
  $TOP: (
    $INFANTRY: (
      'ger' 43% 1.4773 1163.64% 10.4701% 0.26178% (22% -2%, 50% 11%, 3% 18%, 32% 28%),
      'us' 50% 1.25 1066.67% 69.5043% 34.949% (22% 2%, 49% 17%, 7% 23%, 32% 34%),
      'ru' 43% 1.1698 966.038% 11.7647% 35.3093% (22% -2%, 50% 11%, 3% 18%, 32% 28%),
    ),
    $ARMOR: (
      'ger' 45% 1 1137.78% 54.9251% 62.9808% (23% -2%, 52% 14%, 4% 19%, 33% 33%),
      'us' 50% 1.0357 1177.01% 13.0203% 85.0467% (23% -2%, 52% 14%, 4% 19%, 33% 33%),
      'ru' 50% 1 1077.89% 74.8116% 62.8297% (23% -2%, 52% 14%, 4% 19%, 33% 33%),
    ),
    $ARTILLERY: (
      'ger' 70% 0.7759 882.759% 97.6872% 62.0853% (-4% 12%, 26% 44%),
      'us' 70% 0.7167 853.333% 0.110619% 85.446% (-4% 12%, 26% 44%),
      'ru' 70% 1 853.333% 57.9646% 34.949% (-4% 12%, 26% 44%),
    ),
  ),
);

@each $orientation, $unitsData in $units {
  @each $type, $map in $unitsData {
    @each $nation, $width, $ratio, $bgSize, $bgPosX, $bgPosY, $positions in $map {
      .m44-unit[data-orientation='#{$orientation}'][data-type='#{$type}'][data-nation='#{$nation}'] .m44-unit-meeple {
        width: $width;
        height: $width * $ratio;
        background-size: $bgSize;
        background-position: $bgPosX $bgPosY;

        // TODO : remove
        background-color: transparent;
        border-radius: none;

        $i: 1;
        @each $x, $y in $positions {
          &:nth-of-type(#{$i}) {
            left: $x;
            top: $y;
            $i: $i + 1;
          }
        }
      }

      .summary-tile
        .m44-unit[data-orientation='#{$orientation}'][data-type='#{$type}'][data-nation='#{$nation}']
        .m44-unit-meeple {
        width: 100%;
        height: 100% * $ratio;
        left: 0;
        top: 0;
      }
    }
  }
}

.gbgun_bottom {
  width: 126px;
  height: 126px;
  background-position: 45.5457% 0.259067%;
  background-size: 812.698%;
}
.gbgun_top {
  width: 120px;
  height: 120px;
  background-position: 23.7832% 34.949%;
  background-size: 853.333%;
}
.gbinf_bottom {
  width: 96px;
  height: 125px;
  background-position: 82.6509% 0.258398%;
  background-size: 1066.67%;
}
.gbinf_top {
  width: 96px;
  height: 120px;
  background-position: 36.2069% 34.949%;
  background-size: 1066.67%;
}
.gbtank_bottom {
  width: 88px;
  height: 97px;
  background-position: 35.7906% 63.1325%;
  background-size: 1163.64%;
}
.gbtank_top {
  width: 95px;
  height: 90px;
  background-position: 85.1453% 62.0853%;
  background-size: 1077.89%;
}
.jpgun_bottom {
  width: 110px;
  height: 128px;
  background-position: 32.6039% 0.260417%;
  background-size: 930.909%;
}
.jpgun_top {
  width: 116px;
  height: 100px;
  background-position: 24.0088% 63.5922%;
  background-size: 882.759%;
}
.jpinf_bottom {
  width: 106px;
  height: 124px;
  background-position: 94.1176% 0.257732%;
  background-size: 966.038%;
}
.jpinf_top {
  width: 110px;
  height: 110px;
  background-position: 81.1816% 34.0796%;
  background-size: 930.909%;
}
.jptank_bottom {
  width: 102px;
  height: 101px;
  background-position: 0.10846% 63.747%;
  background-size: 1003.92%;
}
.jptank_top {
  width: 90px;
  height: 96px;
  background-position: 64.6681% 62.9808%;
  background-size: 1137.78%;
}
